package ui

import "fmt"

// Avatar Component
templ Avatar(size string, class string, attrs templ.Attributes) {
	<div class={fmt.Sprintf("relative flex shrink-0 overflow-hidden rounded-full %s %s", getAvatarSize(size), class)} {attrs...}>
		{ children... }
	</div>
}

templ AvatarImage(src string, alt string, class string, attrs templ.Attributes) {
	<img class={"aspect-square h-full w-full", class} src={src} alt={alt} {attrs...}/>
}

templ AvatarFallback(class string, attrs templ.Attributes) {
	<div class={"flex h-full w-full items-center justify-center rounded-full bg-muted ", class} {attrs...}>
		{ children... }
	</div>
}

func getAvatarSize(size string) string {
	switch size {
	case "sm":
		return "h-8 w-8"
	case "md":
		return "h-10 w-10"
	case "lg":
		return "h-12 w-12"
	default:
		return "h-10 w-10"
	}
}