package ui

// Badge Component
templ Badge(variant, class string, text string) {
    <div class={
        "inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 ",
		class,
        templ.KV("border-transparent bg-primary text-primary-foreground shadow hover:bg-primary/80", variant == "default"),
        templ.KV("border-transparent bg-secondary text-secondary-foreground hover:bg-secondary/80", variant == "secondary"),
        templ.KV("border-transparent bg-destructive text-destructive-foreground shadow hover:bg-destructive/80", variant == "destructive"),
        templ.KV("text-foreground", variant == "outline"),
		templ.KV("border-transparent bg-red-400 text-primary hover:bg-red-400/80", variant == "todo"),
		templ.KV("border-transparent bg-yellow-400 text-primary hover:bg-yellow-400/80", variant == "in-progress"),
		templ.KV("border-transparent bg-blue-400 text-primary hover:bg-blue-400/80", variant == "in-review"),
		templ.KV("border-transparent bg-emerald-400 text-primary hover:bg-emerald-400/80", variant == "done"),
		templ.KV("border-transparent bg-neutral-200 text-primary hover:bg-neutral-400/80", variant == "close"),
		templ.KV("border-transparent bg-destructive text-destructive-foreground hover:bg-destructive/80", variant == "high"),
		templ.KV("border-transparent bg-primary text-primary-foreground hover:bg-primary/80", variant == "medium"),
		templ.KV("border-transparent bg-secondary text-secondary-foreground hover:bg-secondary/80", variant == "low"),
        templ.KV("border-transparent bg-primary text-primary-foreground shadow hover:bg-primary/80", variant == ""),
    }>
        { text }
    </div>
}