package ui

import "fmt"

// Button Component
templ Button(variant, size, icon, text string, class string, attrs templ.Attributes) {
    <button 
        class={fmt.Sprintf("inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-semibold transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:bg-neutral-100 disabled:from-neutral-100 disabled:to-neutral-100 disabled:text-neutral-300 border border-neutral-200 shadow-sm [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 %s", class) ,
            templ.KV("bg-gradient-to-b from-blue-600 to-blue-700 text-primary-foreground hover:from-blue-700 hover:to-blue-700 ", variant == "primary"),
            templ.KV("bg-gradient-to-b from-amber-600 to-amber-700 text-destructive-foreground hover:from-amber-700 hover:to-amber-700 ", variant == "destructive"),
            templ.KV("bg-white text-black hover:bg-neutral-100 ", variant == "secondary"),
            templ.KV("border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground ", variant == "outline"),
            templ.KV("border-transparent shadow-none hover:bg-accent hover:text-accent-foreground ", variant == "ghost"),
            templ.KV("text-primary underline-offset-4 hover:underline ", variant == "link"),
            templ.KV("bg-neutral-200 text-neutral-600 hover:bg-neutral-200/80 ", variant == "muted"),
            templ.KV("bg-blue-100 text-blue-600 border-transparent hover:bg-blue-200 shadow-none ", variant == "teritary"),
            templ.KV("bg-gradient-to-b from-blue-600 to-blue-700 text-primary-foreground hover:from-blue-700 hover:to-blue-700 ", variant == ""),
            templ.KV("h-10 px-4 py-2 ", size == ""),
            templ.KV("h-8 rounded-md px-3 ", size == "sm"),
            templ.KV("h-7 rounded-md px-2 text-xs ", size == "xs"),
            templ.KV("h-12 rounded-md px-8 ", size == "lg"),
            templ.KV("h-8 w-8 ", size == "icon"),
        }
        { attrs... }
    >
        if icon != "" {
            <i data-lucide={icon} class="w-4 h-4 mr-1"></i>
        }
        { text }
    </button>
}