package ui

import (
    "fmt"
    "etop/utils"
    "etop/models"
)

// Button Component
templ Button(id string, variant, size, icon, text string, class string, attrs templ.Attributes) {
    <button 
        id={id}
        class={fmt.Sprintf(
            "inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-semibold transition-colors " +
            "focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none " +
            "disabled:bg-muted disabled:text-muted-foreground border border-border shadow-sm [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 %s", 
            class),
            templ.KV("bg-primary text-primary-foreground hover:bg-primary/90", variant == "primary"),
            templ.KV("bg-destructive text-destructive-foreground hover:bg-destructive/90", variant == "destructive"),
            templ.KV("bg-secondary text-secondary-foreground hover:bg-secondary/80", variant == "secondary"),
            templ.KV("border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground", variant == "outline"),
            templ.KV("border-transparent shadow-none hover:bg-accent hover:text-accent-foreground", variant == "ghost"),
            templ.KV("text-primary underline-offset-4 hover:underline", variant == "link"),
            templ.KV("bg-muted text-muted-foreground hover:bg-muted/80", variant == "muted"),
            templ.KV("bg-blue-100 text-blue-600 border-transparent hover:bg-blue-200 shadow-none", variant == "teritary"), 
            templ.KV("bg-primary text-primary-foreground hover:bg-primary/90", variant == ""),
            templ.KV("h-10 px-4 py-2", size == ""),
            templ.KV("h-8 rounded-md px-3", size == "sm"),
            templ.KV("h-7 rounded-md px-2 text-xs", size == "xs"),
            templ.KV("h-12 rounded-md px-8", size == "lg"),
            templ.KV("h-8 w-8", size == "icon"),
        }
        { attrs... }
    >   
        if icon != "" {
            <i data-lucide={icon} class="w-4 h-4 mr-1"></i>
        }
        if text != "" {
            { text }
        } else {
            { children... }
        }
    </button>
    <script>lucide.createIcons();</script>
}

type StatusStep struct {
	ID     string
	Label  string
	Sub    string
	Active bool
}

templ Statusbar(status models.TaskStatus, steps []models.TaskStatus, class string) {
	<div class={fmt.Sprintf("o_statusbar %s", class)} role="radiogroup"
        x-data="{ steps: [], }"
        x-init={fmt.Sprintf("steps = %s;", string(utils.MustJSON(steps))) }
		
    >
		
		// for _, step := range steps {
        <template x-for="(step, idx) in steps" :key="idx">
			<button
				type="button"
                :class={fmt.Sprintf("step.no == %v ? 'o_arrow_button o_arrow_button_current text-green-600 font-bold' : 'o_arrow_button '", status.No)}
                role="radio"
                :aria-checked={fmt.Sprintf("step.no == %v ? 'true' : 'false'", status.No)}
                :data-value="step.no"
                :style="`z-index: ${steps.length - idx}`"
                x-show={fmt.Sprintf("(step.value <= %v && step.form==1) || step.no == %v", status.Value, status.No)}
			>
				<span class="pl-6 " x-text="step.label"></span>
                // <span class="o_step_sub" x-text="step.no"></span>
                // <span class="o_step_sub" >{status.Label}</span>
				// if step.Sub != "" {
					// <span class="o_step_sub" x-text="step.Sub" x-show="step.Sub"></span>
				// }
			</button>
        </template>
		// }
        <!-- Tombol titik tiga -->
		<button
			type="button"
			class="o_arrow_button cursor-not-allowed"
			aria-label="More steps"
            :style="`z-index: ${steps.length - steps.length}`"
		>
			<span class="tracking-widest pl-6">···</span>
		</button>
		// <div class="ml-2 text-gray-500">...</div>
	</div>
}