package ui

// Card Component
templ Card(class string, attrs templ.Attributes) {
	<div class={"rounded-lg border bg-card text-card-foreground shadow-sm ", class} {attrs...}>
		{ children... }
	</div>
}

templ CardHeader(class string, attrs templ.Attributes) {
	<div class={"flex flex-col space-y-1.5 p-6 ", class} {attrs...}>
		{ children... }
	</div>
}

templ CardTitle(class string, attrs templ.Attributes) {
	<div class={"text-2xl font-semibold leading-none tracking-tight ", class} {attrs...}>
		{ children... }
	</div>
}

templ CardDescription(class string, attrs templ.Attributes) {
	<div class={"text-sm text-muted-foreground ", class} {attrs...}>
		{ children... }
	</div>
}

templ CardContent(class string, attrs templ.Attributes) {
	<div class={"p-4 pt-2", class} {attrs...}>
		{ children... }
	</div>
}

templ CardFooter(class string, attrs templ.Attributes) {
	<div class={"flex items-center p-6 pt-4 ", class} {attrs...}>
		{ children... }
	</div>
}