package ui

import "fmt"

// Card Component
templ Card(class string) {
	<div class={fmt.Sprintf("rounded-lg border bg-card text-card-foreground shadow-sm %s", class)}>
		{ children... }
	</div>
}

templ CardHeader(class string) {
	<div class={fmt.Sprintf("flex flex-col space-y-1.5 p-6 %s", class)}>
		{ children... }
	</div>
}

templ CardTitle(class string) {
	<div class={fmt.Sprintf("text-2xl font-semibold leading-none tracking-tight %s", class)}>
		{ children... }
	</div>
}

templ CardContent(class string) {
	<div class={fmt.Sprintf("p-6 pt-0 %s", class)}>
		{ children... }
	</div>
}
