package ui

import "slices"

templ Form(action string, method string, class string, attrs templ.Attributes) {
    <form 
        if method == "post" {
            hx-post={action} 
        }
        if method == "put" {
            hx-put={action} 
        }
        if method == "get"{
            hx-get={action}
        }
        if method == "delete"{
            hx-delete={action}
        }
        if method == "patch"{
            hx-patch={action}
        }
        
        if method != "" {
            method={method} 
        }
        class={"space-y-6 ", class}
        {attrs...}
    >
        {children...}
    </form>
}

templ FormItem(class string, attrs templ.Attributes) {
    <div class={"space-y-2 ", class} {attrs...}>
        {children...}
    </div>
}

templ FormLabel(forID, text string, class string, attrs templ.Attributes) {
    <label for={forID} class={"block text-sm font-medium", class} {attrs...}>
        {text}
    </label>
}

templ FormControl(id, name, typ, placeholder, value string, class string, attrs templ.Attributes) {
    if slices.Contains([]string{"text","email","password"}, typ) {
        @Input(typ, placeholder, name, class, value, attrs)
    }
    if typ == "date" {
        @DatePicker(id, name, value, placeholder, class, attrs)
    }
}

templ FormDescription(text string, class string, attrs templ.Attributes) {
    <p class={"text-[0.8rem] text-muted-foreground ", class} {attrs...}>{text}</p>
}

templ FormMessage(text string, class string, attrs templ.Attributes) {
    <p class={"text-[0.8rem] font-medium text-destructive ", class} {attrs...}>
        {text}
    </p>
}