package ui

// Input component
templ Input(inputType, placeholder, name, value string, attrs templ.Attributes) {
    <input 
        type={ inputType }
        placeholder={ placeholder }
        name={ name }
        value={ value }
        class="flex h-11 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
        { attrs... }
    />
}