package ui

// Label Component
templ Label(forId string, class string, attrs templ.Attributes) {
	<label
		for={forId}
		class={"text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 ", class}
		{attrs...}
	>
		{children...}
	</label>
}