package ui

// Separator Component
templ Separator(orientation string, class string, attrs templ.Attributes) {
	<div class={"bg-border ", 
					class, 
					templ.KV("h-full w-px ", orientation == "vertical"),
					templ.KV("h-px w-full ", orientation == "horizontal")
				} role="separator"
	></div>
	
}