package ui

// Sheet Component
templ Sheet(open bool, class string, attrs templ.Attributes) {
	<div 
		class={"fixed inset-0 z-50 flex ", class}
		if open {
			style="display: flex;"
		} else {
			style="display: none;"
		}
		{attrs...}
	>
		{children...}
	</div>
}