package ui

// Table components
templ Table(class string, attrs templ.Attributes) {
    <div class="relative w-full overflow-auto scrollbar-thin">
        <table class={"w-full caption-bottom text-sm", class} {attrs...}>
            {children...}
        </table>
    </div>
}

templ TableHeader(class string, attrs templ.Attributes) {
    <thead class={"[&_tr]:border-b", class} {attrs...}>
        {children...}
    </thead>
}

templ TableBody(class string, attrs templ.Attributes) {
    <tbody class={"[&_tr:last-child]:border-0", class} {attrs...}>
        {children...}
    </tbody>
}

templ TableRow(class string, attrs templ.Attributes) {
    <tr class={"border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted", class} {attrs...}>
        {children...}
    </tr>
}

templ TableHead(class string, attrs templ.Attributes) {
    <th class={"h-10 px-2 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]", class} {attrs...}>
        {children...}
    </th>
}

templ TableCell(class string, attrs templ.Attributes) {
    <td class={"h-10 align-middle [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]", class} {attrs...}>
        {children...}
    </td>
}