package pages

import (
    "etop/templates/components"
    "etop/templates/components/ui"
    "fmt"
)

templ ForgotPassword(typ string, token string) {
    <div data-title={fmt.Sprintf("%s Password",typ)} x-data="{showForm:true,showSuccess:false,showError:false}" class="flex flex-col items-center justify-start bg-muted/40" style="min-height: 80vh;">
        @ui.Card("max-w-md w-full shadow-xl", templ.Attributes{"id":"card-content"}) {
            if token == "" {
                @SendResetPassword()
            } else {
                @ResetPassword(token)
            }
        }
    </div>
}

templ SendResetPassword() {
    @ui.CardHeader("items-center justify-center", nil) {
        @ui.CardTitle("text-center", nil) {
            <h4>Forgot Password</h4>
        }
        @ui.CardDescription("text-center", nil) {
            Enter your email and we’ll send you a reset password link.
        }
    }
    <div class="mx-2">
        @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
    </div>
    @ui.CardContent("", nil) {
        <div 
            x-data="{
                        email: '',
                        emailError: '',
                        validateEmail() {
                            this.emailError = (!this.email || this.email === '') 
                                ? 'Email is required'
                                : ((!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(this.email)) 
                                    ? 'Email is not valid'
                                    : '');
                        },
                        validateForm(e) {
                            e.preventDefault();
                            this.validateEmail();
                            if (this.emailError) {
                                return;
                            }
                        },
                        init() {
                            document.body.addEventListener('htmx:afterRequest', (evt) => {
                                if (evt.detail.successful && evt.detail.elt.id === 'send-form') {
                                    
                                }
                            })
                        }
                    }"
        >
            @ui.Form("/forgot-password", "post", templ.Attributes{
                    "id":"send-form",
                    "hx-target": "#card-content",
                    "hx-swap": "innerHtml",
                    "hx-disabled-elt":"#send-button",
                    "@submit.prevent":"validateForm($event)",
                }) {
                    @ui.FormItem() {
                        @ui.FormLabel("email", "Email Address")
                        @ui.FormControl("email", "email", "email", "you@example.com", "", templ.Attributes{
                            "id": "email",
                            "name": "email",
                            "autocomplete":"email",
                            "x-model": "email",
                            "@blur": "validateEmail",
                        })
                        @ui.FormMessage(templ.Attributes{
                                "x-show": "emailError != ''",
                                "x-text": "emailError",
                            },
                            "",
                        )
                    }
                    @ui.Button("send-button", "", "lg", "", "Send", "w-full", templ.Attributes{"type": "submit",})
                }
        </div>
    }
    <div class="mx-2">
        @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
    </div>
    @ui.CardFooter("flex flex-row items-center justify-center", nil) {
        <div class="text-center items-center justify-center">
            <p class="text-sm text-muted-foreground">
                Already reset? 
                <span class="text-blue-700 cursor-pointer"
                    hx-get="/sign-in"
                    hx-target="#content"
                    hx-swap="true"
                    hx-push-url="true">Sign In</span>
            </p>
        </div>
    }
}

templ ResetPassword(token string) {
    <div x-show="showSuccess">
        @components.CardStatus(200, "Password Updated", "Register success! You can sign in to continue.", "circle-check-big",
            ui.Button("success", "outline", "", "", "Back to Sign In", "", templ.Attributes{"onclick": "window.location.href='/sign-in'"}))
    
    </div>
    <div x-show="showError">
        @components.CardStatus(400, "Reset Password Failed", "Sorry, we're cannot reset your password at this time, try again later", "circle-x",
            ui.Button("error", "outline", "", "", "Back to Sign In", "", templ.Attributes{"onclick": "window.location.href='/sign-in'"}))
    </div>
    <div x-show="showForm">
        @ui.CardHeader("items-center justify-center", nil) {
            @ui.CardTitle("text-center", nil) {
                <h4>Reset Password</h4>
            }
            @ui.CardDescription("text-center", nil) {
                Enter your new password here.
            }
        }
        <div class="mx-2">
            @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
        </div>
        @ui.CardContent("", nil) {
            <div 
                x-data="{
                            password: '',
                            password2: '',
                            passwordError: '',
                            passwordError2: '',
                            validatePassword() {
                                this.passwordError = (this.password.length < 6)
                                    ? 'Password must be at least 6 characters'
                                    : '';
                            },
                            validatePassword2() {
                                this.passwordError2 = (this.password !== this.password2)
                                        ? 'Password not match'
                                        : '';
                            },
                            validateForm(e) {
                                e.preventDefault();
                                this.validatePassword();
                                this.validatePassword2();
                                if (this.passwordError || this.passwordError2) {
                                    return; 
                                }
                            },
                            init() {
                                document.body.addEventListener('htmx:afterRequest', (evt) => {
                                    if (evt.detail.elt.id === 'reset-form' && evt.detail.xhr.status==400) {
                                        
                                    }
                                    if (evt.detail.elt.id === 'reset-form' && evt.detail.xhr.status==200) {
                                        this.password = '';
                                        this.password2 = '';
                                        this.showForm = false;
                                        this.showSuccess = true;
                                        this.showError = false;
                                    }
                                    if (evt.detail.elt.id === 'reset-form' & evt.detail.xhr.status==500) {
                                        this.password = '';
                                        this.password2 = '';
                                        this.showForm = false;
                                        this.showSuccess = false;
                                        this.showError = true;
                                    }
                                })
                            }
                        }"
            >
                
                @ui.Form("", "put", templ.Attributes{
                    "id":"reset-form",
                    "hx-put":"/forgot-password",
                    "hx-target": "#toaster",
                    "hx-swap": "beforeend",
                    "hx-disabled-elt":"#reset-button",
                    "@submit.prevent":"validateForm($event)",
                }) {
                    <input id="token" name="token" value={token} hidden />                           
                    @ui.FormItem() {
                        @ui.FormLabel("password", "New Password")
                        @ui.FormControl("password", "password", "password", "********", "", templ.Attributes{
                            "id": "password",
                            "x-model": "password",
                            "@blur": "validatePassword",
                        })
                        @ui.FormMessage(templ.Attributes{
                                "x-show": "passwordError != ''",
                                "x-text": "passwordError",
                            },
                            "",
                        )
                    }
                    @ui.FormItem() {
                        @ui.FormLabel("password2", "Confirm Password")
                        @ui.FormControl("password", "password2", "password", "********", "", templ.Attributes{
                            "id": "password2",
                            "x-model": "password2",
                            "@blur": "validatePassword2",
                        })
                        @ui.FormMessage(templ.Attributes{
                                "x-show": "passwordError2 != ''",
                                "x-text": "passwordError2",
                            },
                            "",
                        )
                    }
                    @ui.Button("reset-button", "", "lg", "", "Save", "w-full", templ.Attributes{"type": "submit",})
                }
            </div>
        }
        <div class="mx-2">
            @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
        </div>
        @ui.CardFooter("flex flex-row items-center justify-center", nil) {
            <div class="text-center items-center justify-center">
                <p class="text-sm text-muted-foreground">
                    Already reset? 
                    <span class="text-blue-700 cursor-pointer"
                        hx-get="/sign-in"
                        hx-target="#content"
                        hx-swap="true"
                        hx-push-url="true">Sign In</span>
                </p>
            </div>
        }
    </div>
}