package pages

import (
    "etop/templates/components"
    "etop/templates/components/ui"
    "os"
    "fmt"
)

templ ForgotPassword(typ string, token string) {
    <div data-title={fmt.Sprintf("%s Password",typ)} class="min-h-screen flex flex-col items-center justify-center bg-muted/40 p-6">
        <div class="flex items-center mb-4">
            <div class="w-14 h-14 bg-green-600 rounded-lg flex items-center justify-center px-5">
                <span class="text-[48px] text-primary-foreground font-semibold" style="margin-top: -10px">{os.Getenv("APP_NAME")[0:1]}</span>
            </div>
            <span class="font-bold text-[46px] pb-2 pl-2.5 pt-0">{os.Getenv("APP_NAME")[1:len(os.Getenv("APP_NAME"))]}</span>
        </div>
        @ui.Card("max-w-md w-full shadow-xl") {
            @ui.CardHeader("items-center justify-center") {
                switch typ {
                case "Forgot":
                    @ui.CardTitle("text-center") {
                        <h4>Forgot Password</h4>
                    }
                    @ui.CardDescription("text-center") {
                        Enter your email and we’ll send you a reset password link.
                    }
                    <div class="mx-2">
                        @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
                    </div>
                case "Reset":
                    @ui.CardTitle("text-center") {
                        <h4>Reset Password</h4>
                    }
                    @ui.CardDescription("text-center") {
                        Enter your new password here.
                    }
                    <div class="mx-2">
                        @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
                    </div>
                default:
                    <div class="flex justify-center mb-4">
                        <i data-lucide="ban" class="w-16 h-16 text-red-500"></i>
                    </div>
                    <h4>Invalid or expired request</h4>
                }
            }
            @ui.CardContent("") {
                <div 
                    x-data="{
                                email: '',
                                password: '',
                                password2: '',
                                passwordError: '',
                                passwordError2: '',
                                emailError: '',
                                validateEmail() {
                                    this.emailError = (!this.email || this.email === '') 
                                        ? 'Email is required'
                                        : ((!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(this.email)) 
                                            ? 'Email not valid'
                                            : '');
                                },
                                validatePassword() {
                                    this.passwordError = (this.password.length < 6)
                                        ? 'Password must be at least 6 characters'
                                        : '';
                                },
                                validatePassword2() {
                                    this.passwordError2 = (this.password !== this.password2)
                                            ? 'Password not match'
                                            : '';
                                },
                                validateForgotForm(e) {
                                    e.preventDefault();
                                    this.validateEmail();
                                    if (this.emailError) {
                                        return;
                                    }
                                },
                                validateResetForm(e) {
                                    e.preventDefault();
                                    this.validatePassword();
                                    this.validatePassword2();
                                    if (this.passwordError || this.passwordError2) {
                                        return; 
                                    }
                                },
                                init() {
                                    document.body.addEventListener('htmx:afterRequest', (evt) => {
                                        if (evt.detail.successful && evt.detail.elt.id === 'forgot-form') {
                                            // 
                                        }
                                    })
                                }
                            }"
                >
                    switch typ { 
                    case "Forgot":
                        @ui.Form("/forgot-password", "post", templ.Attributes{
                            "id":"forgot-form",
                            "hx-target": "#toaster",
                            "hx-swap": "beforeend",
                            "hx-disabled-elt":"#forgot-button",
                            "@submit.prevent":"validateForgotForm($event)",
                        }) {
                            @ui.FormItem() {
                                @ui.FormLabel("email", "Email Address")
                                @ui.FormControl("email", "email", "email", "you@example.com", "", templ.Attributes{
                                    "id": "email",
                                    "name": "email",
                                    "autocomplete":"email",
                                    "x-model": "email",
                                    "@blur": "validateEmail",
                                })
                                @ui.FormMessage(templ.Attributes{
                                        "x-show": "emailError != ''",
                                        "x-text": "emailError",
                                    },
                                    "",
                                )
                            }
                            @ui.Button("forgot-button", "", "lg", "", "Send", "w-full", templ.Attributes{"type": "submit",})
                        }
                    case "Reset":
                        @ui.Form("", "put", templ.Attributes{
                            "id":"reset-form",
                            "hx-put":"/forgot-password",
                            "hx-target": "#toaster",
                            "hx-swap": "beforeend",
                            "hx-disabled-elt":"#reset-button",
                            "@submit.prevent":"validateResetForm($event)",
                        }) {
                            <input id="token" name="token" value={token} hidden />                           
                            @ui.FormItem() {
                                @ui.FormLabel("password", "New Password")
                                @ui.FormControl("password", "password", "password", "********", "", templ.Attributes{
                                    "id": "password",
                                    "x-model": "password",
                                    "@blur": "validatePassword",
                                })
                                @ui.FormMessage(templ.Attributes{
                                        "x-show": "passwordError != ''",
                                        "x-text": "passwordError",
                                    },
                                    "",
                                )
                            }
                            @ui.FormItem() {
                                @ui.FormLabel("password2", "Confirm Password")
                                @ui.FormControl("password", "password2", "password", "********", "", templ.Attributes{
                                    "id": "password2",
                                    "x-model": "password2",
                                    "@blur": "validatePassword2",
                                })
                                @ui.FormMessage(templ.Attributes{
                                        "x-show": "passwordError2 != ''",
                                        "x-text": "passwordError2",
                                    },
                                    "",
                                )
                            }
                            @ui.Button("reset-button", "", "lg", "", "Save", "w-full", templ.Attributes{"type": "submit",})
                        }
                    default:
                        
                    }
                </div>
            }
            if typ != "Error" {
                <div class="mx-2">
                    @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
                </div>
                @ui.CardFooter("flex flex-row items-center justify-center") {
                    <div class="text-center items-center justify-center">
                        <p class="text-sm text-muted-foreground">
                            Already reset? 
                            <span class="text-blue-700 cursor-pointer"
                                hx-get="/sign-in"
                                hx-target="#content"
                                hx-swap="true"
                                hx-push-url="true">Sign In</span>
                        </p>
                    </div>
                }
            } else {
                @ui.CardFooter("flex flex-row items-center justify-center") {
                    <div class="flex items-center justify-center">
                        @ui.Button("signin-button", "", "lg", "", "Sign In", "w-full", templ.Attributes{"type": "button", "hx-get":"/sign-in", "hx-target":"#content", "hx-swap":"true", "hx-push-url":"true"}) 
                    </div>
                }
            }
        }
    </div>
}