package pages

import "etop/templates/components/ui"

// NotFound Page
templ NotFound() {
	<div class="space-y-6"
		x-data="{ pageTitle: '404 Page Not Found - etop' }" 
		x-init="document.title = pageTitle; $watch('pageTitle', value => document.title = value);"
	>
        <div>
			<h2 class="text-3xl font-bold tracking-tight">404</h2>
			<p class="text-muted-foreground">Sorry, the page you are looking for could not be found.</p>
		</div>
		
		<!-- Action -->
        <div class="text-card-foreground p-6">
			<h3 class="font-semibold leading-none tracking-tight mb-4"></h3>
			<div class="flex flex-col items-center justify-start min-h-screen">  
                <!-- Big Oops -->
                <h1 class="galaxy-text font-extrabold mb-4 text-8xl sm:text-[96px] lg:text-[120px] leading-none tracking-tight">Oops!</h1>

                <!-- Subtitle -->
                <p class="text-gray-500 max-w-md text-center mb-6">
                    The page you are looking for might have been removed,<br>
                    had its name changed, or is temporarily unavailable.
                </p>
				@ui.Button("dasboard-button", "", "md", "", "", "inline-flex items-center px-4 py-2 bg-blue-600 font-medium rounded-lg shadow transition cursor-pointer", 
                    templ.Attributes{"type": "button","hx-post":"/","hx-target":"#content","hx-swap":"innerHTML","hx-push-url":"true"}){
                    <!-- Lucide Icon: home -->
                    <div class="w-5 h-5" data-lucide="home" />
                    Back to Dashboard
                }   
			</div>
		</div>
	</div>
}
