package pages

import (
    "etop/templates/components"
    "etop/templates/components/ui"
)

templ ResendVerification() {
    <div data-title="Resend Verification" x-data="{showForm:true,showSuccess:false,showError:false}" class="flex flex-col items-center justify-start" style="min-height: 80vh;">
        @ui.Card("max-w-md w-full shadow-xl", templ.Attributes{"x-show":"showSuccess"}) {
            @components.CardStatus(200, "Email Verification Sent", "If your email is registered, you will receive a verification link.", "circle-check-big",
				ui.Button("success", "outline", "", "", "Back to Sign In", "", templ.Attributes{"onclick": "window.location.href='/sign-in'"}))
        }
        @ui.Card("max-w-md w-full shadow-xl", templ.Attributes{"x-show":"showError"}) {
            @components.CardStatus(400, "Resent Verification Failed", "Sorry, we're cannot send verification email at this time, try again later", "circle-x",
				ui.Button("error", "outline", "", "", "Back to Sign In", "", templ.Attributes{"onclick": "window.location.href='/sign-in'"}))
        }
        @ui.Card("max-w-md w-full shadow-xl", templ.Attributes{"x-show":"showForm"}) {
            @ui.CardHeader("items-center justify-center", nil) {
                @ui.CardTitle("text-center", nil) {
                    <h4>Resend Verification</h4>
                }
                @ui.CardDescription("text-center", nil) {
                    Enter your email and we’ll send you a new verification link.
                }
            }
            <div class="mx-2">
                @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
            </div>
            @ui.CardContent("", nil) {
                <div 
                    x-data="{
                                email: '',
                                emailError: '',
                                validateEmail() {
                                    this.emailError = (!this.email || this.email === '') 
                                        ? 'Email is required'
                                        : ((!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(this.email)) 
                                            ? 'Email not valid'
                                            : '');
                                },
                                validateForm(e) {
                                    e.preventDefault();
                                    this.validateEmail();
                                    if (this.emailError) {
                                        return;
                                    }
                                },
                                init() {
                                    document.body.addEventListener('htmx:afterRequest', (evt) => {
                                        if (evt.detail.elt.id === 'resend-form' && evt.detail.xhr.status==400) {
                                            
                                        }
                                        if (evt.detail.elt.id === 'resend-form' && evt.detail.xhr.status==200) {
                                            this.email = '';
                                            this.showForm = false;
                                            this.showSuccess = true;
                                            this.showError = false;
                                        }
                                        if (evt.detail.elt.id === 'resend-form' & evt.detail.xhr.status==500) {
                                            this.email = '';
                                            this.showForm = false;
                                            this.showSuccess = false;
                                            this.showError = true;
                                        }
                                    })
                                }
                            }"
                >
                    @ui.Form("/resend-verification", "post", "", templ.Attributes{
                        "id":"resend-form",
                        "hx-target": "#toaster",
                        "hx-swap": "innerHtml",
                        "hx-disabled-elt":"#resend-button,#email",
                        "@submit.prevent":"validateForm($event)",
                    }) {
                        @ui.FormItem("", nil) {
                            @ui.FormLabel("email", "Email Address", "", nil)
                            @ui.FormControl("email", "email", "email", "you@example.com", "", "", templ.Attributes{
                                "id": "email",
                                "name": "email",
                                "autocomplete":"email",
                                "x-model": "email",
                                "@blur": "validateEmail",
                            })
                            @ui.FormMessage("", "", templ.Attributes{
                                    "x-show": "emailError != ''",
                                    "x-text": "emailError",
                                },
                            )
                        }
                        @ui.Button("resend-button", "", "lg", "", "Resend Verification Email", "w-full", templ.Attributes{"type": "submit",})
                    }
                </div>
            }
            <div class="mx-2">
                @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
            </div>
            @ui.CardFooter("flex flex-row items-center justify-center", nil) {
                <div class="text-center items-center justify-center">
                    <p class="text-sm text-muted-foreground">
                        Already verified? 
                        <span class="text-blue-700 cursor-pointer"
                            hx-get="/sign-in"
                            hx-target="#content"
                            hx-swap="true"
                            hx-push-url="true">Sign In</span>
                    </p>
                </div>
            }
        }
    </div>
}