package pages

import (
    "etop/templates/components/ui"
)

templ VerifyEmail(content ...templ.Component) {
    <div data-title="Verify Email" class="flex flex-col items-center justify-start" style="min-height: 80vh;">
        @ui.Card("max-w-md w-full shadow-xl", nil) {
            for _, c := range content {
                @c
            }
        }
    </div>
}