package layouts

// import "etop/templates/pages"

templ AuthLayout(url string, route string) {
	
    <!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>etop</title>
			<link rel="stylesheet" href="/public/css/styles.css"/>
			<script src="/public/js/htmx.min.js"></script>
			<script src="/public/js/cdn.min.js" defer></script>
            <script src="/public/js/lucide.js"></script>
		</head>
		<body>
			<div class="min-h-screen flex flex-col items-center justify-center bg-muted/40 p-6"
				x-data="{ pageTitle: 'Sign In - etop' }" 								
			>
				<div class="flex items-center mb-4">
					<div class="w-14 h-14 bg-green-600 rounded-lg flex items-center justify-center px-5">
						<span class="text-[48px] text-primary-foreground font-semibold" style="margin-top: -10px">e</span>
					</div>
					<span class="font-bold text-[46px] pb-2 pl-2.5 pt-0">top</span>
				</div>
				<div id="content"
					class="max-w-md w-full"
					hx-get={route}
					hx-target="#content"
					hx-swap="true"
					hx-push-url={url}
					hx-trigger="load"
				>
					
				</div>
			</div>
			<script>
				lucide.createIcons();
			</script>
        </body>
    </html>
}