package layouts

import (
	"os"
)

templ AuthLayout(title string, content ...templ.Component) {
    <!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{title} - {os.Getenv("APP_NAME")}</title>
			<link rel="icon" href="data:,">
			<link rel="stylesheet" href="/public/css/styles.css"/>
			<script src="/public/js/cdn.min.js" defer></script>
			<script src="/public/js/htmx.min.js"></script>
            <script src="/public/js/lucide.js"></script>
		</head>
		<body x-data="{ 
						sidebarOpen: false, 
						sidebarCollapsed: false, 
						darkMode: (localStorage.getItem('darkMode') === 'true' ? true : false),
						isMobile: window.innerWidth < 768,
						init() {
							document.body.addEventListener(`htmx:afterSwap`, (e) => {
								if (e.detail.target.id === `content`) {
									const newTitle = document.querySelector(`#content [data-title]`)?.dataset.title;
									if (newTitle) document.title = newTitle !== `` ? newTitle : ``;
								}
							})
						} 
					}"
				x-init="
						localStorage.setItem('currentWorkspace', '');
						localStorage.removeItem('currentWorkspace');
						$watch('darkMode', val => {
							localStorage.setItem('darkMode', val);
							if (val) {
								document.documentElement.classList.add('dark');
							} else {
								document.documentElement.classList.remove('dark');
							}
						});
						if (darkMode) {
							document.documentElement.classList.add('dark');
						}
						window.addEventListener('resize', () => {
							isMobile = window.innerWidth < 768;
							if (!isMobile) sidebarOpen = false;
						});
					"
			>
			<div id="content" class="min-h-screen bg-muted/40">
				<div class="flex items-end justify-end p-1" style="min-height: 1vh;">
					<!-- Dark Mode Toggle -->
					<button 
						@click="darkMode = !darkMode"
						class="p-1 rounded-md hover:bg-accent"
					>
						<div x-show="!darkMode" data-lucide="moon" class="w-7 h-7"  stroke="currentColor" />
                		<div x-show="darkMode" data-lucide="sun" class="w-7 h-7"  stroke="currentColor" />
					</button>
				</div>
				<div class="flex items-end justify-center pb-4" style="min-height: 10vh;">
					<div class="w-14 h-14 bg-green-600 dark:bg-gray-600 rounded-lg flex items-end justify-center mb-2">
						<div class="text-[52px] text-primary-foreground font-semibold" style="margin-bottom: -4px">{os.Getenv("APP_NAME")[0:1]}</div>
					</div>
					<span class="font-bold text-[46px] pl-2">{os.Getenv("APP_NAME")[1:len(os.Getenv("APP_NAME"))]}</span>
					<div class="flex items-center gap-4">
				</div>
				</div>
				for _, c := range content {
					@c
				}
			</div>
			<div id="toaster"></div> 
			<script>

				document.addEventListener("DOMContentLoaded", () => {
					lucide.createIcons(); 
				});

				document.body.addEventListener("htmx:afterOnLoad", (e) => {
					if (e.detail.target.id === "toaster") {
						document.querySelector("#toaster")
							.insertAdjacentHTML("beforeend", e.detail.xhr.responseText);						
					}
					lucide.createIcons();
				});

			</script>
        </body>
    </html>
}