package layouts

import "etop/templates/components"
import "etop/dto"

templ Header(user dto.UserAuth) {
    <!-- Header -->
    <header class="h-16 bg-card border-b border-border px-4 flex items-center justify-between">
        <div class="flex items-center gap-4"
            x-init="
                    document.body.addEventListener('htmx:afterSwap', (e) => {
                        if (e.detail.target.id === 'workspace-switcher') {
                            let src = document.getElementById('workspace-switcher');
                            let dest = document.getElementById('workspace-switcher-mobile');
                            if (src && dest) {
                                dest.innerHTML = src.innerHTML;
                            }
                        }
                    })
                "
        >
            <!-- Mobile Menu Button -->
            <button 
                @click="sidebarOpen = !sidebarOpen"
                class="md:hidden p-2 rounded-md hover:bg-accent"
            >
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
            
            <!-- Desktop Sidebar Toggle -->
            <button 
                @click="sidebarCollapsed = !sidebarCollapsed"
                class="hidden md:block p-2 rounded-md hover:bg-accent"
            >
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>

            // <h1 class="text-xl font-semibold">Dashboard</h1>
            <div id="workspace-switcher"
                class="min-w-[250px] pt-2"
                hx-get="/workspace-switcher"
                hx-target="#workspace-switcher"
                hx-trigger="load"
                hx-swap="innerHtml"
                x-show="!isMobile"
            />
            
        </div>

        <div class="flex items-center gap-4">
            <!-- Dark Mode Toggle -->
            <button 
                @click="darkMode = !darkMode"
                class="p-2 rounded-md hover:bg-accent"
            >
                <div x-show="!darkMode" data-lucide="moon" class="w-6 h-6"  stroke="currentColor" />
                <div x-show="darkMode" data-lucide="sun" class="w-6 h-6"  stroke="currentColor" />
            </button>
            @components.Notification([]components.Notif{})
            @components.AvatarButton(user.FullName, user.Email)
        </div>
    </header>
}