package layouts

import {
	"os"
}

// Sidebar Layout
templ Sidebar() {
	appName := os.Getenv("APP_NAME")
	<div class="flex flex-col h-full">
		<!-- Logo -->
		<div class="h-16 min-h-16 flex items-center border-b border-border" :class="sidebarCollapsed && !isMobile ? 'px-4' : 'px-6'">
			<div class="flex items-center gap-1.5" x-show="!sidebarCollapsed || isMobile">
				<div class="w-8 h-8 bg-green-600 rounded-lg flex items-center justify-center">
					<span class="text-3xl text-primary-foreground font-semibold" style="margin-top: -6px" >{appName[0:1]}</span>
				</div>
				<span class="font-bold text-2xl pb-1.6 pt-0">{appName[1:len(appName)]}</span>
			</div>
			<div class="w-8 h-8 bg-green-600 rounded-lg flex items-center justify-center"x-show="sidebarCollapsed && !isMobile">
				<span class="text-3xl text-primary-foreground font-semibold" style="margin-top: -6px" >{appName[0:1]}</span>
			</div>
		</div>

		<!-- Navigation -->
		<nav class="flex-1" :class="sidebarCollapsed && !isMobile ? 'p-2' : 'p-4'">
			@Navigation()
		</nav>
	</div>
}