package features

import (
    "fmt"
    "strings"
    "strconv"
    
	"etop/models"
	"etop/dto"
    "etop/templates/components"
    "etop/templates/components/ui"
    "etop/templates/pages"
)

templ Departments(depts []models.Department, user dto.UserAuth) {
    if user.Level != "ADMIN" {
        @pages.Forbidden()
    } else {
        
        <div data-title="Departments" class="space-y-6">
            <div class="flex items-center justify-between ">
                <div>
                    <h2 class="text-3xl font-bold tracking-tight">Departments</h2>
                    <p class="text-muted-foreground p-1">View all of departments here</p>
                </div>
                <div>
                    @ui.Button("create-department", "", "sm", "", "", "", templ.Attributes{
                        "type": "button",
                        "@click":"$store.modal.open('create-department-modal')",
                    }) {
                        <i data-lucide="circle-plus" class="w-4 h-4 "></i><span x-text="`${isMobile ? 'New' : 'New Department'}`"></span>
                    }
                </div>
            </div>

            <!-- Stats Cards -->
            <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
                if len(depts) == 0 {
                    @components.NoData("No departments found", "Create a department to get started", nil) {
                        @ui.Button("create-department", "outline", "xs", "circle-plus", "Create Department", "", templ.Attributes{
                            "type": "button",
                            "@click":"$store.modal.open('create-department-modal')",
                        })
                    }
                }
                for _, dept := range depts {
                    <div
                        hx-post={"/departments?id="+dept.ID}
                        hx-target="#content"
                        hx-swap="innerHTML"
                        hx-push-url="true"
                        hx-indicator=".htmx-loader,.loaded-content" 
                        class="rounded-lg border border-border bg-card text-card-foreground shadow-sm p-4 transition-all duration-300 hover:shadow-md hover:-translate-y-1 cursor-pointer"
                    >
                        <div class="flex items-center justify-between space-y-0 pb-2">
                            <div class="flex gap-2">
                                <div class="p-1">
                                    <div class={"w-7 h-7 p-2 rounded-md text-white flex items-center justify-center text-xs font-semibold " , dept.Color}>
                                        {strings.ToUpper(dept.Name[0:1])}
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <h3 class="tracking-tight font-semibold">{dept.Name}</h3>
                                        <div class="text-xs text-muted-foreground">Created at {dept.CreatedAt.Format("Mon, 02 Jan 2006")}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-row justify-between items-center">
                                <svg data-lucide="users" class="w-4 h-4 mr-1 text-muted-foreground" /> 
                                <span class="text-xs text-muted-foreground">{strconv.Itoa(len(dept.Members))}</span>
                            </div>
                        </div>
                        <div class="min-h-[50px] p-1">
                            // <div class="text-2xl font-bold">+2350</div>
                            <p class="text-md">{dept.Description}</p>
                        </div>
                        <div class="pt-4 pb-4">
                            @components.DottedSeparator("", "#d4d4d8", "1px", "", "", "horizontal")
                        </div>
                        <div class="text-sm text-muted-foreground">view department details</div>
                    </div>
                }
            </div>
            
        </div>
    }
}

templ Department(dept models.Department, user dto.UserAuth) {
    <div data-title={dept.Name} class="space-y-6">
        <div class="flex items-center justify-between">
            <div>
                <div class="flex items-center justify-left space-y-0">
                    <div class="p-1 mr-2">
                        <div class={"w-7 h-7 p-2 rounded-md text-white flex items-center justify-center text-sm font-semibold " , dept.Color}>
                            {strings.ToUpper(dept.Name[0:1])}
                        </div>
                    </div>
                    <h2 class="text-3xl font-bold tracking-tight">{dept.Name}</h2>
                </div>
                <p class="text-muted-foreground p-1">{dept.Description}</p>
            </div>
            <div>
                if user.Level == "ADMIN" {
                    @InviteDepartment(dept.ID, dept.Name, dept.Color, "w-96", nil)
                    @ui.Button("invite-dept", "outline", "sm", "", "", "mr-1", templ.Attributes{
                        "type": "button",
                        "@click":"$store.modal.open('invite-department-modal')",
                    }) {
                        <i data-lucide="user-plus" class="w-4 h-4 "></i><span x-show="!isMobile" x-text="`${isMobile ? '' : 'Invite'}`"></span>
                    }
                    @ui.Button("dept-settings", "outline", "sm", "", "", "", templ.Attributes{
                        "type": "button",
                        "@click.stop": "window.dept_id='"+dept.ID+"'; $store.modal.open('edit-department-modal')",
                    }) {
                        <i data-lucide="settings" class="w-4 h-4 "></i>
                    }
                } else {
                    for _, m := range dept.Members {
                        if m.UserID == user.ID && m.Role == "MANAGER" {
                            @InviteDepartment(dept.ID, dept.Name, dept.Color, "w-96", nil)
                            @ui.Button("invite-dept", "outline", "sm", "", "", "mr-1", templ.Attributes{
                                "type": "button",
                                "@click":"$store.modal.open('invite-department-modal')",
                            }) {
                                <i data-lucide="user-plus" class="w-4 h-4 "></i><span x-show="!isMobile" x-text="`${isMobile ? '' : 'Invite'}`"></span>
                            }
                            @ui.Button("dept-settings", "outline", "sm", "", "", "", templ.Attributes{
                                "type": "button",
                                "@click.stop": "window.dept_id='"+dept.ID+"'; $store.modal.open('edit-department-modal')",
                            }) {
                                <i data-lucide="settings" class="w-4 h-4 "></i>
                            }
                        }
                    }
                }
            </div>
        </div>
        @EditDept("w-96")
        @components.DottedSeparator("", "#d4d4d8", "1px", "", "", "horizontal")
        <div class="flex items-center gap-2">
            <span class="text-sm text-muted-foreground mr-2">Manager : </span>
            <div class="flex items-center gap-2">
                @ui.Avatar(dept.DeptHead.FullName, dept.DeptHead.Color, "sm", "h-8 w-8 border-2 border-background", nil)
                <span class="text-sm font-medium">{dept.DeptHead.FullName}</span>
            </div>
        </div>
        @components.DottedSeparator("", "#d4d4d8", "1px", "", "", "horizontal")
        <div class="flex items-center gap-2">
            <span class="text-sm text-muted-foreground mr-2">Members : </span>
            <div class="flex">
                for _,member := range dept.Members {
                    @ui.Tooltip(strings.Split(member.User.FullName," ")[0]+" ("+strings.Trim(member.Role, " ")+")", "w-[180px]", nil) {
                        @ui.Avatar(member.User.FullName, member.User.Color, "sm", "h-8 w-8 border-2 border-background overflow-hidden cursor-pointer -space-x-2 -ml-2", nil) 
                    }
                }
            </div>
        </div>
    </div>
}

templ DepartmentJoin(dept models.Department, user dto.UserAuth) {
    <div data-title={dept.Name} class="space-y-6">
        <div class="flex items-center justify-between">
            <div>
                <div class="flex items-center justify-left space-y-0">
                    <div class="p-1 mr-2">
                        <div class={"w-7 h-7 p-2 rounded-md text-white flex items-center justify-center text-sm font-semibold " , dept.Color}>
                            {strings.ToUpper(dept.Name[0:1])}
                        </div>
                    </div>
                    <h2 class="text-3xl font-bold tracking-tight">{dept.Name}</h2>
                </div>
                <p class="text-muted-foreground p-1">{dept.Description}</p>
            </div>
        </div>
        <div class="flex items-center gap-2">
            <span class="text-sm text-muted-foreground mr-2">Manager : </span>
            <div class="flex items-center gap-2">
                @ui.Avatar(dept.DeptHead.FullName, dept.DeptHead.Color, "sm", "h-8 w-8 border-2 border-background", nil)
                <span class="text-sm font-medium">{dept.DeptHead.FullName}</span>
            </div>
        </div>
        @components.DottedSeparator("", "#d4d4d8", "1px", "", "", "horizontal")
        <div class="flex items-center gap-2">
            <span class="text-sm text-muted-foreground mr-2">Members : </span>
            <div class="flex">
                for _,member := range dept.Members {
                    @ui.Tooltip(strings.Split(member.User.FullName," ")[0]+" ("+strings.Trim(member.Role, " ")+")", "w-[180px]", nil) {
                        @ui.Avatar(member.User.FullName, member.User.Color, "sm", "h-8 w-8 border-2 border-background overflow-hidden cursor-pointer -space-x-2 -ml-2", nil) 
                    }
                }
            </div>
        </div>
        @components.DottedSeparator("", "#d4d4d8", "1px", "", "", "horizontal")
        <div class="flex justify-center">
            @ui.Button("join-dept-"+dept.ID, "", "lg", "user-plus", "Request to Join", "", templ.Attributes{
                "type": "button",
                "hx-post": "/join-department?id="+dept.ID,
                "hx-target": "#toaster",
                "hx-swap": "innerHtml",
                "hx-indicator": ".htmx-loader,.loaded-content",
            })
        </div>
    </div>
}

templ DepartmentsJoin(depts []models.Department, user dto.UserAuth) {
    <div data-title="Departments" class="space-y-6">
        <div>
            <h2 class="text-3xl font-bold tracking-tight">Departments</h2>
            <p class="text-muted-foreground p-1">Browse departments and request to join</p>
        </div>
        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
            if len(depts) == 0 {
                @components.NoData("No departments found", "No departments available yet", nil) {}
            }
            for _, dept := range depts {
                <div
                    hx-post={"/department?id="+dept.ID}
                    hx-target="#content"
                    hx-swap="innerHTML"
                    hx-push-url="true"
                    hx-indicator=".htmx-loader,.loaded-content"
                    class="rounded-lg border border-border bg-card text-card-foreground shadow-sm p-4 transition-all duration-300 hover:shadow-md hover:-translate-y-1 cursor-pointer"
                >
                    <div class="flex items-center justify-between space-y-0 pb-2">
                        <div class="flex gap-2">
                            <div class="p-1">
                                <div class={"w-7 h-7 p-2 rounded-md text-white flex items-center justify-center text-xs font-semibold " , dept.Color}>
                                    {strings.ToUpper(dept.Name[0:1])}
                                </div>
                            </div>
                            <div>
                                <h3 class="tracking-tight font-semibold">{dept.Name}</h3>
                                <div class="text-xs text-muted-foreground">{strconv.Itoa(len(dept.Members))} members</div>
                            </div>
                        </div>
                    </div>
                    <div class="min-h-[50px] p-1">
                        <p class="text-md">{dept.Description}</p>
                    </div>
                    <div class="pt-4 pb-4">
                        @components.DottedSeparator("", "#d4d4d8", "1px", "", "", "horizontal")
                    </div>
                    <div class="flex justify-end">
                        @ui.Button("join-dept-"+dept.ID, "outline", "sm", "user-plus", "Join", "", templ.Attributes{
                            "type": "button",
                            "hx-post": "/join-department?id="+dept.ID,
                            "hx-target": "#toaster",
                            "hx-swap": "innerHtml",
                            "hx-indicator": ".htmx-loader,.loaded-content",
                        })
                    </div>
                </div>
            }
        </div>
    </div>
}

templ InviteDepartment(deptID string, deptName string, deptColor string, class string, attrs templ.Attributes) {
    @components.ResponsiveModal("invite-department-modal", "Invite Members", class) {
        <div id="invite-department-form" 
            x-init={fmt.Sprintf("dept_id='%s'", deptID)}
            x-data="{
                        dept_id:'',
                        init() {
                            document.body.addEventListener('modal:opened', (evt) => {
                                if (evt.detail.id === 'invite-department-modal') {
                                    htmx.ajax('GET', '/invite-department-form?dept_id='+this.dept_id, {target: '#invite-department-form', swap: 'innerHtml'})
                                }
                            });
                            document.body.addEventListener('modal:closed', (evt) => {
                                if (evt.detail.id === 'invite-department-modal') {
                                    document.getElementById('invite-department-form').innerHTML = '';
                                }
                            });
                        }
                    }"
        >
        </div>
    }
}

templ InviteDepartmentForm(deptID string, deptName string, deptColor string, users []models.UserRole) {
    <div
        x-data="{
                    dept_id: '',
                    init() {
                        document.body.addEventListener('htmx:afterRequest', (evt) => {
                            if (evt.detail.successful && evt.detail.elt.id === 'invite-department-form') {
                                $store.modal.close('invite-department-modal');
                            }
                        });
                    }
                }"
        x-init={fmt.Sprintf("dept_id='%s'", deptID)}
    >
        <div class="flex items-center justify-start space-y-0">
            <div class="p-1 mr-2">
                <div class={"w-6 h-6 p-2 rounded-md text-white flex items-center justify-center text-sm font-semibold " , deptColor}>
                    {strings.ToUpper(deptName[0:1])}
                </div>
            </div>
            <h2 class="text-lg font-semibold tracking-tight">{deptName}</h2>
        </div>
        @ui.Form("/invite-department", "post", "", templ.Attributes{
                "id":"invite-department-form",
                "hx-target": "#toaster",
                "hx-swap": "innerHtml",
                "x-ref": "form",
        }) {
            <input id="dept_id" type="hidden" name="dept_id" x-model="dept_id" />
            @ui.FormItem("", nil) {
                @ui.FormLabel("invite_members", "Invite Members", "", nil)
                @components.MemberInput("invite_members",
                    "invite_members",
                    "Type a name...",
                    []models.UserRole{},  
                    users,
                    "",
                    nil,
                )
                @ui.FormMessage("", "", templ.Attributes{})
            }
            @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
            <div class="flex justify-end items-end">
                @ui.Button("invite-button", "", "", "", "Invite", "", templ.Attributes{"type": "submit"}) 
            </div>
        }
    </div>
}