package features

import (
    "fmt"
    "time"
    "strconv"
    "strings"

	"etop/dto"
	"etop/utils"
    "etop/models"
	"etop/services"
    "etop/templates/components"
    "etop/templates/components/ui"
)

templ Task(task models.Task, user dto.UserAuth) {
    <div data-title="Task" class="mx-auto space-y-6" 
        x-data="{
                task_id: '', 
                user_id: '',
                isWatching: false,
                taskWatch() {
                    htmx.ajax('POST', '/task-watch?task_id='+this.task_id+'&user_id='+this.user_id+'&status='+!this.isWatching, {source: document.getElementById('task-watch'), target: '#toaster', swap: 'innerHtml'});
                },
                init() {
                    document.body.addEventListener('htmx:afterRequest', (evt) => {
                        if (evt.detail.successful && evt.detail.elt.id === 'task-watch') {
                            this.isWatching = !this.isWatching;
                            htmx.ajax('GET', '/task-watch?task_id='+this.task_id, {target: '#task-watchers', swap: 'innerHtml'});
                            htmx.ajax('GET', '/task-activities?task_id='+this.task_id, {target: '#task-activities', swap: 'innerHtml'});
                        }
                    })
                }
            }" 
        x-init={fmt.Sprintf("task_id = '%s'; user_id = '%s'; isWatching = %t; ", task.ID, user.ID, services.IsUserWatchingTask(task, user.ID))}
    >
        <div class="flex items-center justify-between">
            <div>
                // @components.BackButton("mb-2", templ.Attributes{
                //     "type": "button",
                //     "hx-post": fmt.Sprintf("/projects?id=%s",task.ProjectID), 
                //     "hx-target": "#content",
                //     "hx-swap": "innerHTML",
                //     "hx-push-url": "true",
                //     "hx-indicator": ".htmx-loader,.loaded-content",})
                <div class="flex items-center justify-between space-y-0">
                    if strings.Trim(task.Type," ") == "PROJECT" {
                        <div class="">
                            @ui.Avatar(task.Project.Title, "", "sm", "mr-2", templ.Attributes{
                                ":class":fmt.Sprintf("project_statuses.filter(c=>c.status==='%s')[0].color", task.Project.Status),
                                "x-show":"!isMobile",
                            })
                        </div>
                        <h2 x-show="!isMobile" class="text-3xl font-semibold text-muted-foreground hover:opacity-75 transition cursor-pointer"
                            hx-post={fmt.Sprintf("/projects?id=%s",task.ProjectID)}
                            hx-target="#content"
                            hx-swap="innerHTML"
                            hx-push-url="true"
                            hx-indicator=".htmx-loader,.loaded-content"
                        >
                            {task.Project.Title}
                        </h2>
                        <svg x-show="!isMobile" class="size-4 mr-2 ml-2 pt-1 text-muted-foreground" data-lucide="chevron-right" />
                    }
                    <h2 class="text-3xl font-semibold">{task.Title}</h2>
                </div>
            </div>

            <div class="flex flex-col sm:flex-row gap-3">
                <div class="flex items-center gap-2 min-w-32">
                    <div>
                        @ui.Button("task-watch", "ghost", "sm", "", "", "", templ.Attributes{
                            "@click":"taskWatch",
                            "type": "button",
                            ":class": "isWatching ? 'text-red-500 dark:hover:bg-gray-400 hover:bg-red-100' : '' ",
                            "hx-indicator": ".htmx-loader,.loaded-content",
                        }) {
                            <i x-show="isWatching" data-lucide="eye-off" class="w-4 h-4 "></i>
                            <i x-show="!isWatching"  data-lucide="eye" class="w-4 h-4 "></i>
                            <span x-show="!isMobile" x-text="`${isMobile ? '' : (isWatching ? 'Unwatch':'Watch') }`"></span>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row gap-4">
            <div class="lg:col-span-2 lg:w-8/12">
                <div class="bg-card rounded-lg p-4 shadow-sm mb-4">
                    <div class="flex flex-col md:flex-row justify-between items-start">
                        <div>
                            <div class="flex items-center gap-2"><div class="text-xl flex-1 font-semibold">{task.Title}</div></div>

                            <div class="text-xs text-muted-foreground mb-4">
                                Created at {task.CreatedAt.Format("Mon, 02 Jan 2006")}
                            </div>
                        </div>
                        <div class="flex items-start gap-2">
                            <div class=" p-1">
                                // @ui.Badge(task.Priority, "", "mt-1.5 mr-2", templ.Attributes{
                                //     ":class": fmt.Sprintf("task_priorities.filter(c=>c.priority.trim().toUpperCase()==='%s'.trim().toUpperCase())[0].color", task.Priority),
                                //     "x-text": fmt.Sprintf("task_priorities.filter(c=>c.priority.trim().toUpperCase()==='%s'.trim().toUpperCase())[0].label.trim()+' Priority'", task.Priority),
                                // })
                                // @ui.Badge(task.Priority, "", "mt-1.5 mr-2", templ.Attributes{
                                //     ":class":fmt.Sprintf("task_statutes.filter(c=>c.status.trim().toUpperCase()==='%s'.trim().toUpperCase())[0].color", task.Status),
                                //     "x-text":fmt.Sprintf("task_statutes.filter(c=>c.status.trim().toUpperCase()==='%s'.trim().toUpperCase())[0].label", task.Status),
                                // })
                                @ui.Statusbar([]ui.StatusStep{
                                    {Label: "New", Sub: "", Active: true},
                                    {Label: "Progress", Sub: "1h", Active: false},
                                    {Label: "Solved", Sub: "9d", Active: false},
                                }, "")
                            </div>
                            @ui.Dropdown(strconv.Itoa(task.No), "", nil) {
                                @ui.DropdownTrigger("p-1", nil) {
                                    <div data-lucide="ellipsis-vertical" class="w-4 h-4" />
                                }
                                @ui.DropdownContent("", nil) {
                                    @ui.DropdownItem(false, false, "h-10 flex items-start justify-start text-sm cursor-pointer hover:bg-accent" , templ.Attributes{
                                        "hx-post": "/tasks?id="+task.ID+"#edit-task-form",
                                        "hx-target": "#content",
                                        "hx-swap": "innerHtml",
                                        "hx-push-url": "true",
                                        "hx-indicator": ".htmx-loader,.loaded-content",
                                    }) {
                                        <i data-lucide="edit" class="w-4 h-4"></i>
                                        Edit Task
                                    }
                                    @ui.DropdownItem(false, false, "h-10 flex items-start justify-start text-amber-700 text-sm cursor-pointer dark:hover:bg-gray-400 hover:bg-red-100" , templ.Attributes{
                                        "hx-post": "/delete-task?id="+task.ID+"#edit-task-form",
                                        "hx-target": "#toaster",
                                        "hx-swap": "innerHtml",
                                    }) {
                                        <i data-lucide="edit" class="w-4 h-4"></i>
                                        Delete Task
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="mb-4">
                        @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
                    </div>
                    <div class="mb-4">
                        <div class="text-sm font-medium text-muted-foreground mb-0">
                            Description
                        </div>

                        <div class="flex items-center gap-2 p-2"><div class="text-sm text-pretty flex-1 text-muted-foreground">{task.Description}</div></div> 
                    </div>

                    <div class="mb-4">
                        <div class="text-sm font-medium text-muted-foreground mb-0">
                            Assignees
                        </div>

                        <div class="flex items-center gap-2 p-2">
                            <div class="flex">
                                for _, assignee := range task.Assignees {
                                    @ui.Tooltip(assignee.User.FullName, "flex w-[120px]", nil) {
                                        @ui.Avatar(assignee.User.FullName, assignee.User.Color, "sm", "h-8 w-8 border-2 border-background overflow-hidden cursor-pointer -space-x-2 -ml-2", nil) 
                                    }
                                }
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="lg:w-4/12">
                <div id="task-watchers">@TaskWatchers(task.Watchers)</div>
                <div id="task-activities"
                    hx-get={"/task-activities?task_id="+task.ID}
                    hx-swap="true"
                    hx-trigger="load"
                    hx-target="#task-activities" 
                />
            </div>
        </div>
    </div>
}

templ TaskWatchers(watchers []models.TaskWatchers) {
    <div class="bg-card rounded-lg p-4 shadow-sm mb-4">
        <h3 class="text-lg font-medium mb-4">Watchers</h3>
        <div class=" mt-2 mb-4">
            @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
        </div>
        <div class="space-y-2 justify-between">
            <div class="flex items-center gap-2 p-2">
                <div class="flex">
                    for _, watcher := range watchers {
                        @ui.Tooltip(watcher.User.FullName, "flex w-[120px]", nil) {
                            @ui.Avatar(watcher.User.FullName, watcher.User.Color, "sm", "h-8 w-8 border-2 border-background overflow-hidden cursor-pointer -space-x-2 -ml-2", nil) 
                        }
                    }
                </div>
            </div> 
            // if len(watchers) > 0 {
            //     for _,watcher := range watchers {
            //         @ui.Avatar(watcher.User.FullName, watcher.User.Color, "xs", "h-6 w-6 border-2 border-background overflow-hidden", nil) {
            //             <span class="flex text-xs text-muted-foreground ml-2">{watcher.User.FullName}</span>
            //         }
            //     }
            // } else {
            //     <p class="text-sm text-muted-foreground">No watchers</p>
            // }
        </div>
    </div>
}

templ Tasks(tasks []models.Task) {
    <div>My tasks: {len(tasks)}</div>
}

templ CreateTask(projectID string, typ string, class string, attrs templ.Attributes) {
    @components.ResponsiveModal("create-task-modal", "Create Task", class) {
        <div id="create-task-form" 
            x-init={fmt.Sprintf("project_id = '%s'; typ = '%s';",projectID, typ)}
            x-data="{
                        project_id: '',
                        typ: '',
                        init() {
                            document.body.addEventListener('modal:opened', (evt) => {
                                if (evt.detail.id === 'create-task-modal') {
                                    htmx.ajax('GET', '/create-task-form?project_id='+this.project_id+'&type='+this.typ, {target: '#create-task-form', swap: 'innerHtml'})
                                }
                            });
                            document.body.addEventListener('modal:closed', (evt) => {
                                if (evt.detail.id === 'create-task-modal') {
                                    document.getElementById('create-task-form').innerHTML = '';
                                }
                            });
                        }
                    }"
        >
            
        </div>
    }
}

templ CreateTaskForm(projectID string, typ string) {
    <div
        x-data="{
                    today: new Date(),
                    task_statuses: [],
                    task_priorities: [],
                    project_id: '',
                    typ: '',
                    title: '',
                    description: '',
                    status: 'TO_DO',
                    priority: '',
                    assignees: [],
                    titleError: '',
                    descriptionError: '',
                    statusError: '',
                    priorityError: '',
                    validateTitle() {
                        this.titleError = (this.title.trim() === '')
                            ? 'Title is required'
                            : '';
                        this.title = this.title.charAt(0).toUpperCase() + this.title.slice(1);
                    },
                    validateStatus() {
                        this.statusError = (this.status.trim() === '')
                            ? 'Status is required'
                            : '';
                    },
                    validatePriority() {
                        this.priorityError = (this.priority.trim() === '')
                            ? 'Priority is required'
                            : '';
                    },
                    validateForm(e) {
                        e.preventDefault();
                        this.validateTitle();
                        this.validateStatus();
                        
                        if (this.titleError || this.statusError) {
                            return; 
                        }
                    },
                    init() {
                        document.body.addEventListener('htmx:afterRequest', (evt) => {
                            if (evt.detail.successful && evt.detail.elt.id === 'create-task-form') {
                                $store.modal.close('create-task-modal');
                                this.title = '';
                                this.description = '';
                                this.status = '';
                                this.priority = '';
                                this.assignees = [];
                                this.titleError = '';
                                this.descriptionError = '';
                                this.statusError = '';
                                this.priorityError = '';
                                const params = new URLSearchParams(window.location.search);
                                if ('/projects?id='+params.get('id') === '/projects?id='+this.project_id) {
                                    htmx.ajax('POST', '/projects?id='+params.get('id'), { 
                                        target: '#content', 
                                        swap: 'innerHTML' 
                                    })
                                }
                            }
                        })
                    }
                }"
        x-init={fmt.Sprintf("project_id= '%s'; typ= '%s'; task_statuses= %s; status= task_statuses[0].status; task_priorities= %s; priority= task_priorities.filter(c=>c.priority.toUpperCase()==='MEDIUM')[0].priority;", projectID, typ, string(utils.MustJSON(services.GetTaskStatuses())), string(utils.MustJSON(services.GetTaskPriorities())))}
    >
        @ui.Form("/task", "post", "w-lg", templ.Attributes{
                "id":"create-task-form",
                "hx-target": "#toaster",
                "hx-swap": "innerHtml",
                "hx-disabled-elt":"#create-button,#title,#description",
                "x-ref": "form",
                "@submit.prevent":"validateForm($event)",
        }) {
            <input id="project_id" x-show="false" type="hidden" name="project_id" x-model="project_id" :value="project_id" />
            <input id="type" x-show="false" type="hidden" name="type" x-model="typ" :value="typ" />
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                <div class="w-full space-y-4">
                    @ui.FormItem("mb-4", nil) {
                        @ui.FormLabel("title", "Title", "", nil)
                        @ui.FormControl("title", "title", "text", "Task Title", "", "", templ.Attributes{
                            "autocomplete":"title",
                            "x-model": "title",
                            "@blur": "validateTitle",
                        })
                        @ui.FormMessage("", "", templ.Attributes{
                                "x-show": "titleError != ''",
                                "x-text": "titleError",
                            },
                        )
                    }
                    @ui.FormItem("mb-4", nil) {
                        @ui.FormLabel("description", "Description", "", nil)
                        @ui.FormControl("description", "description", "textarea", "Task Description", "", "", templ.Attributes{
                            "autocomplete":"description",
                            "x-model": "description",
                            "@blur": "description=description.charAt(0).toUpperCase() + description.slice(1)",
                        })
                        @ui.FormMessage("", "", templ.Attributes{
                                "x-show": "descriptionError != ''",
                                "x-text": "descriptionError",
                            },
                        )
                    }
                    @ui.FormItem("mb-4", nil) {
                        @ui.FormLabel("due_date", "Due Date", "", nil)
                        @ui.FormControl("due_date", "due_date", "date", "", utils.FormatDate(time.Now()), "w-46", templ.Attributes{})
                        @ui.FormMessage("", "", templ.Attributes{},
                        )
                    }
                </div>
                <div class="w-full space-y-4">
                    // <div class="grid grid-cols-1 sm:grid-cols-2 pr-4">
                        // <div class="w-full">
                        //     @ui.FormItem("w-44 mb-4", nil) {
                        //         @ui.FormLabel("status", "Status", "", nil)                              
                        //         @ui.FormControl("status", "status", "select", "Task Status", "TO_DO", "", templ.Attributes{
                        //             "x-model": "status",
                        //             "@blur": "validateStatus",
                        //         }) {
                        //             <template x-for="(status, index) in (task_statuses.filter(c=>c.form==1))" :key="index">
                        //                 <option name="status" x-text="status.label" :value="status.status" :selected="status.status==='TO_DO'"></option>
                        //             </template>
                        //         }
                        //         @ui.FormMessage("", "", templ.Attributes{
                        //                 "x-show": "statusError != ''",
                        //                 "x-text": "statusError",
                        //             },
                        //         )
                        //     }
                        // </div>
                        <div class="w-full">
                            @ui.FormItem("w-44 mb-4", nil) {
                                @ui.FormLabel("priority", "Priority", "", nil)
                                @ui.FormControl("priority", "priority", "select", "Task Priority", "MEDIUM", "", templ.Attributes{
                                    "x-model": "priority",
                                    "@blur": "validatePriority",
                                }) {
                                    <template x-for="(priority, index) in task_priorities" :key="index">
                                        <option name="priority" x-text="priority.label" :value="priority.priority" :selected="priority.priority==='MEDIUM'"></option>
                                    </template>
                                }
                                @ui.FormMessage("", "", templ.Attributes{
                                        "x-show": "priorityError != ''",
                                        "x-text": "priorityError",
                                        ":value": "priority",
                                    },
                                )
                            }
                        // </div>
                    </div>
                    @ui.FormItem("mb-4", nil) {
                        @ui.FormLabel("assignees", "Assignees", "", nil)
                        @components.AssigneeInput("assignees",
                            "assignees",
                            "Type a assignee...",
                            []models.UserRole{},  
                            services.GetProjectMembers(projectID),
                            "",
                            nil,
                        )
                        @ui.FormMessage("", "", templ.Attributes{},
                        )
                    }
                    @ui.FormItem("mb-4", nil) {
                        @ui.FormLabel("tags", "Tags", "", nil)
                        @components.TagInput("task-tag", "tags", "Add tag...", []string{}, "", nil)
                        @ui.FormMessage("", "", templ.Attributes{},
                        )
                    }
                </div>
            </div>
            @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
            <div class="flex justify-end items-end">
                @ui.Button("create-button", "", "", "", "Create", "", templ.Attributes{"type": "submit"}) 
            </div>
        }
    </div>
}