package features

import (
    "fmt"
	"strconv"
    "strings"

    "etop/utils"
	"etop/models"
    "etop/templates/components"
    "etop/templates/components/ui"
)

templ Workspace(workspace models.Workspace) {
    <div data-title="Workspace" class="space-y-6">
        <div class="flex items-center justify-between">
            <div>
                <div class="flex items-center justify-between space-y-0">
                    <div class={"w-7 h-7 p-2 rounded-md text-white flex items-center justify-center text-lg font-semibold mr-2" , workspace.Color}>
                        {strings.ToUpper(workspace.Name[0:1])}
                    </div>
                    <h2 class="text-3xl font-bold tracking-tight">{workspace.Name}</h2>
                </div>
                <p class="text-muted-foreground">{workspace.Description}</p>
            </div>
            <div>
                @ui.Button("create-workspace", "outline", "sm", "user-plus", "Invite", "mr-1", templ.Attributes{
                    "type": "button",
                    "@click":"$store.modal.open('create-workspace-modal')",
                })
                @ui.Button("create-workspace", "", "sm", "circle-plus", "Create Project", "", templ.Attributes{
                    "type": "button",
                    "@click":"$store.modal.open('create-workspace-modal')",
                })
            </div>
        </div>
        <div class="flex items-center gap-2 p-4">
            <span class="text-sm text-muted-foreground">Members: </span>
            <div class="flex space-x-2">
                for _,member := range workspace.Members {
                    @ui.Tooltip(member.User.FullName, "w-[120px]", nil) {
                        @ui.Avatar(member.User.FullName, "sm", "relative h-8 w-8 rounded-full border-2 border-background overflow-hidden cursor-pointer", nil) 
                    }
                }
            </div>
        </div>
    </div>
}

templ Workspaces(workspaces []models.Workspace) {
    <div data-title="Workspaces" class="space-y-6">
        <div class="flex items-center justify-between ">
            <div>
                <h2 class="text-3xl font-bold tracking-tight">Workspaces</h2>
                <p class="text-muted-foreground">View all of your workspace here</p>
            </div>
            <div>
                @ui.Button("create-workspace", "", "sm", "circle-plus", "New Workspace", "", templ.Attributes{
                    "type": "button",
                    "@click":"$store.modal.open('create-workspace-modal')",
                })
            </div>
        </div>

        <!-- Stats Cards -->
		<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
            if len(workspaces) == 0 {
                @components.NoData("Workspace not found", "", nil) {
                    @ui.Button("create-workspace", "outline", "xs", "circle-plus", "Create Workspace", "", templ.Attributes{
                        "type": "button",
                        "@click":"$store.modal.open('create-workspace-modal')",
                    })
                }
            }
            for _, workspace := range workspaces {
                <div class="rounded-lg border border-border bg-card text-card-foreground shadow-sm p-4 transition-all hover:shadow-md hover:-translate-y-1">
                    <div class="flex items-center justify-between space-y-0 pb-2">
                        <div class="flex gap-2">
                            <div class="p-1">
                                <div class={"w-7 h-7 p-2 rounded-md text-white flex items-center justify-center text-xs font-semibold " , workspace.Color}>
                                    {strings.ToUpper(workspace.Name[0:1])}
                                </div>
                            </div>
                            <div>
                                <div>
                                    <h3 class="tracking-tight font-semibold">{workspace.Name}</h3>
                                    <div class="text-xs text-muted-foreground">Created at {workspace.CreatedAt.Format("Mon, 02 Jan 2006")}</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-row justify-between items-center">
                            <svg data-lucide="users" class="w-4 h-4 mr-1 text-muted-foreground" /> 
                            <span class="text-xs text-muted-foreground">{strconv.Itoa(len(workspace.Members))}</span>
                        </div>
                    </div>
                    <div class="min-h-[50px] p-1">
                        // <div class="text-2xl font-bold">+2350</div>
                        <p class="text-sm">{workspace.Description}</p>
                    </div>
                    <div class="pt-4 pb-4">
                        @components.DottedSeparator("", "#d4d4d8", "1px", "", "", "horizontal")
                    </div>
                    <div 
                        class="text-sm text-muted-foreground cursor-pointer"
                        hx-post={"/workspaces?id="+workspace.ID}
                        hx-target="#content"
                        hx-swap="innerHTML"
                        hx-push-url="true"
                        hx-indicator=".htmx-loader,.loaded-content"
                    >view workspace details and projects</div>
                </div>
            }
        </div>

    </div>
}

templ WorkspaceSwitcher(options []ui.SelectOption) {
    <div 
		x-data={fmt.Sprintf("workspaceSwitcher(%s)", string(utils.MustJSON(options[0])))}
		class="relative w-full"
	>
		<input type="hidden" name="workspaceId" x-model="selected.value">

		<!-- Trigger -->
		<button 
			@click="openSelect = !openSelect" 
			class="w-full flex justify-between items-center px-3 py-2 
				   border rounded-md 
				   bg-background text-foreground border-border 
				   hover:bg-accent hover:text-accent-foreground
				   focus:outline-none transition-colors"
		>
			<div class="flex items-center space-x-2">
				<div x-show="selected.value && selected.value !== ' ' "
                    :class="`w-6 h-6 rounded-md text-white flex items-center justify-center text-xs font-semibold ${selected.color}`">
                    <span x-text="selected.label && selected.label !== ' ' ? selected.label.slice(0,1).toUpperCase() : ''"></span>
                </div>
				<div x-show="!selected.value || selected.value === ' ' " class="w-4 h-4 ml-0" data-lucide="list-checks"></div>
				<span x-text="selected.label && selected.label !== ' ' ?  selected.label : 'Select Workspace'"></span>
			</div>
			<svg class="w-4 h-4 text-muted-foreground" xmlns="http://www.w3.org/2000/svg" fill="none" 
				viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
			</svg>
		</button>

		<!-- Dropdown -->
		<div x-show="openSelect" @click.away="openSelect = false"
			class="absolute z-10 mt-1 w-full rounded-md border shadow-lg 
				   bg-popover border-border text-popover-foreground">
			<div class="px-3 pt-2 pb-1 text-sm text-muted-foreground">Workspace</div>
			<ul class="max-h-60 overflow-auto rounded-md border border-border scrollbar-thin">
				for _, item := range options {
                    if item.Value != " " {
                        <li 
                            class="flex items-center space-x-2 px-3 py-2 cursor-pointer 
                                hover:bg-accent hover:text-accent-foreground"
                            @click={fmt.Sprintf("selectWorkspace({ value: '%s', label: '%s', color: '%s' })", item.Value, item.Label, item.Color)}
                        >
                            <div class={"w-6 h-6 rounded-md text-white flex items-center justify-center text-xs font-semibold " , item.Color}>
                                {strings.ToUpper(item.Label[0:1])}
                            </div>
                            <span>{item.Label}</span>
                        </li>
                    }
				}
			</ul>
            @ui.Separator("horizontal", "", nil)
            <div 
                @click="$store.modal.open('create-workspace-modal')" 
                class="flex items-center space-x-2 px-3 py-2 cursor-pointer hover:bg-accent hover:text-accent-foreground">
                <div data-lucide="circle-plus" class="w-4 h-4"></div>
                <span>Create Workspace</span>
            </div>
		</div>
	</div>
}

templ CreateWorkspace(class string, attrs templ.Attributes) {
    @components.ResponsiveModal("create-workspace-modal", "Create Workspace", class) {
        <div
            x-data="{
                        name: '',
                        description: '',
                        color: '',
                        nameError: '',
                        descriptionError : '',
                        colorError: '',
                        validateName() {
                            this.nameError = (this.name.trim() === '')
                                ? 'Name is required'
                                : '';
                        },
                        validateColor() {
                            this.colorError = (this.color.trim() === '')
                                ? 'Color is required'
                                : '';
                        },
                        validateForm(e) {
                            e.preventDefault();
                            this.validateName();
                            //this.validateColor();
                            
                            if (this.nameError || this.validateColor()) {
                                return; 
                            }
                        },
                        init() {
                            document.body.addEventListener('htmx:afterRequest', (evt) => {
                                if (evt.detail.successful && evt.detail.elt.id === 'create-workspace-form') {
                                    $store.modal.close('create-workspace-modal');
                                    this.name = '';
                                    this.description = '';
                                    this.color = '';
                                    htmx.ajax('GET', '/workspace-switcher', {target: '#workspace-switcher', swap: 'innerHtml'})
                                    if (window.location.pathname === '/workspaces') {
                                        htmx.ajax('POST', '/workspaces', { 
                                            target: '#content', 
                                            swap: 'innerHTML' 
                                        })
                                    }
                                }
                            })
                        }
                    }"
        >
            @ui.Form("/workspace", "post", "", templ.Attributes{
                    "id":"create-workspace-form",
                    "hx-target": "#toaster",
                    "hx-swap": "innerHtml",
                    "hx-disabled-elt":"#create-button,#name,#description,#colorOption",
                    "x-ref": "form",
                    "@submit.prevent":"validateForm($event)",
            }) {
                @ui.FormItem("", nil) {
                    @ui.FormLabel("name", "Name", "", nil)
                    @ui.FormControl("name", "name", "text", "Workspace Name", "", "", templ.Attributes{
                        "id": "name",
                        "name": "name",
                        "autocomplete":"name",
                        "x-model": "name",
                        "@blur": "validateName",
                    })
                    @ui.FormMessage("", "", templ.Attributes{
                            "x-show": "nameError != ''",
                            "x-text": "nameError",
                        },
                    )
                }
                @ui.FormItem("", nil) {
                    @ui.FormLabel("description", "Description", "", nil)
                    @ui.FormControl("description", "description", "textarea", "Workspace Description", "asd", "", templ.Attributes{
                        "id": "description",
                        "name": "description",
                        "autocomplete":"description",
                        "x-model": "description",
                    })
                    @ui.FormMessage("", "", templ.Attributes{
                            "x-show": "descriptionError != ''",
                            "x-text": "descriptionError",
                        },
                    )
                }
                @ui.FormItem("", nil) {
                    @ui.FormLabel("", "Color", "", nil)
                    <div id="colorOption"
                        x-data="{ 
                            selectedColor: '' 
                        }"
                        class="flex items-center space-x-3 mt-2"
                    >
                        <template x-for="color in colorOptions" :key="color.name">
                            <button 
                                type="button"
                                class="h-6 w-6 rounded-full transition ring-2 ring-offset-2 ring-offset-white dark:ring-offset-neutral-900"
                                :class="[
                                    color.class, 
                                    selectedColor === color.class ? 'ring-primary dark:ring-white scale-110' : 'ring-transparent'
                                ]"
                                @click="selectedColor = color.class;"
                                :title="color.class"
                            ></button>
                        </template>

                        <!-- Hidden input buat form -->
                        <input type="hidden" id="color" name="color" x-model="color" :value="selectedColor">
                        @ui.FormMessage("", "", templ.Attributes{
                                "x-show": "selectedColor === ''",
                                "x-text": "colorError",
                            },
                        )
                    </div>
                    <div class="pt-4 pb-4">
                        @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
                    </div>
                    <div class="flex justify-end items-end">
                        @ui.Button("create-button", "", "", "", "Create", "", templ.Attributes{"type": "submit"}) 
                    </div>
                }
            }
        </div>
    }
}