package features

import (
    "fmt"
    "strings"
	"strconv"

    "etop/utils"
	"etop/models"
    "etop/services"
    "etop/templates/components"
    "etop/templates/components/ui"
)

templ Workspace(workspace models.Workspace) {
    @CreateProject(workspace.ID, "w-[900px]", nil) 
    @EditWorkspace(workspace.ID, "w-96", nil) 
    @InviteWorkspace(workspace.ID, "w-96", nil) 
    <div data-title="Workspace" class="space-y-6">
        <div class="flex items-center justify-between">
            <div>
                <div class="flex items-center justify-between space-y-0">
                    <div class="p-1 mr-2">
                        <div class={"w-7 h-7 p-2 rounded-md text-white flex items-center justify-center text-sm font-semibold " , workspace.Color}>
                            {strings.ToUpper(workspace.Name[0:1])}
                        </div>
                    </div>
                    <h2 class="text-3xl font-bold tracking-tight">{workspace.Name}</h2>
                </div>
                <p class="text-muted-foreground p-1">{workspace.Description}</p>
            </div>
            <div>
                @ui.Button("invite-workspace", "outline", "sm", "", "", "mr-1", templ.Attributes{
                    "type": "button",
                    "@click":"$store.modal.open('invite-workspace-modal')",
                }) {
                    <i data-lucide="user-plus" class="w-4 h-4 "></i><span x-show="!isMobile" x-text="`${isMobile ? '' : 'Invite'}`"></span>
                }
                @ui.Button("create-project", "", "sm", "", "", "mr-1", templ.Attributes{
                    "type": "button",
                    "@click":"$store.modal.open('create-project-modal')",
                }) {
                    <i data-lucide="circle-plus" class="w-4 h-4 "></i><span x-show="!isMobile" x-text="`${isMobile ? '' : 'New Project'}`"></span>
                }
                @ui.Button("workspace-settings", "outline", "sm", "", "", "", templ.Attributes{
                    "type": "button",
                    "@click":"$store.modal.open('edit-workspace-modal')",
                }) {
                    <i data-lucide="settings" class="w-4 h-4 "></i>
                }
            </div>
        </div>
        <div class="flex items-center gap-2">
            <span class="text-sm text-muted-foreground mr-2">Members : </span>
            <div class="flex">
                for _,member := range workspace.Members {
                    @ui.Tooltip(strings.Split(member.User.FullName," ")[0]+" ("+strings.Trim(member.Role, " ")+")", "w-[180px]", nil) {
                        @ui.Avatar(member.User.FullName, member.User.Color, "sm", "h-8 w-8 border-2 border-background overflow-hidden cursor-pointer -space-x-2 -ml-2", nil) 
                    }
                }
            </div>
        </div>

        <!-- Stats Cards -->
        <div class="text-xl font-semibold leading-none tracking-tight ">
            Projects
        </div>
		<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
            if len(workspace.Projects) == 0 {
                @components.NoData("No projects found", "Create a project to get started", nil) {
                    @ui.Button("create-project", "outline", "xs", "circle-plus", "Create Project", "", templ.Attributes{
                        "type": "button",
                        "@click":"$store.modal.open('create-project-modal')",
                    })
                }
            }
            for _, project := range workspace.Projects {
                <div 
                    hx-post={"/projects?id="+project.ID}
                    hx-target="#content"
                    hx-swap="innerHTML"
                    hx-push-url="true"
                    hx-indicator=".htmx-loader,.loaded-content"
                    class="rounded-lg border border-border bg-card text-card-foreground shadow-sm p-4 transition-all duration-300 hover:shadow-md hover:-translate-y-1 cursor-pointer"
                >
                    <div class="flex items-center justify-between space-y-0 pb-2">
                        <div class="flex gap-2">
                            <div>
                                <div class="flex items-center justify-between gap-3">
                                    <h3 class="tracking-tight font-semibold">{project.Title}</h3>
                                    <span class="text-xs rounded-full pl-1 pr-1" 
                                        :class={fmt.Sprintf("project_statuses.filter(c=>c.status==='%s')[0].color", project.Status)} 
                                        x-text={fmt.Sprintf("project_statuses.filter(c=>c.status==='%s')[0].label.trim()", project.Status)}
                                    ></span>
                                </div>
                                <div class="text-xs text-muted-foreground">Start at {project.StartDate.Format("Mon, 02 Jan 2006")}</div>
                                // <div class="text-xs text-muted-foreground">Due at {project.DueDate.Format("Mon, 02 Jan 2006")}</div>
                            </div>
                        </div>
                        <div class="flex flex-row justify-between items-center">
                            <svg data-lucide="users" class="w-4 h-4 mr-1 text-muted-foreground" /> 
                            <span class="text-xs text-muted-foreground">{strconv.Itoa(len(project.Members))}</span>
                        </div>
                    </div>
                    <div class="min-h-[50px] p-1">
                        <p class="text-md pb-4">{project.Description}</p>
                        <div class="space-y-4">
                            <div class="space-y-1">
                                <div class="flex justify-between text-xs">
                                    <div class="text-sm">
                                        Progress
                                    </div>
                                    <div class="text-sm">
                                        {project.Progress}%
                                    </div>
                                </div>
                                @ui.Progress("p3", project.Progress, 100, "lg", "mb-4", templ.Attributes{"data-note":"x"})
                            </div>
                            <div class="flex items-center justify-between">
                                <div class="flex items-center text-xs gap-2 text-muted-foreground">
                                    <span>{strconv.Itoa(len(project.Tasks))}</span>
                                    <span>Tasks</span>
                                </div>
                                if project.DueDate != nil {
                                    @ui.Tooltip("Due Date", "", nil) {
                                        <div class="flex items-center text-xs text-muted-foreground">
                                            <svg data-lucide="calendar-days" class="w-4 h-4 mr-1" />
                                            <span>{project.DueDate.Format("Mon, 02 Jan 2006")}</span>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="pt-4 pb-4">
                        @components.DottedSeparator("", "#d4d4d8", "1px", "", "", "horizontal")
                    </div>
                    <div class="text-sm text-muted-foreground">view project details and tasks</div>
                </div>
            }
        </div>
    </div>
}

templ Workspaces(workspaces []models.Workspace) {
    <div data-title="Workspaces" class="space-y-6">
        <div class="flex items-center justify-between ">
            <div>
                <h2 class="text-3xl font-bold tracking-tight">Workspaces</h2>
                <p class="text-muted-foreground p-1">View all of your workspace here</p>
            </div>
            <div>
                @ui.Button("create-workspace", "", "sm", "", "", "", templ.Attributes{
                    "type": "button",
                    "@click":"$store.modal.open('create-workspace-modal')",
                }) {
                    <i data-lucide="circle-plus" class="w-4 h-4 "></i><span x-text="`${isMobile ? 'New' : 'New Workspace'}`"></span>
                }
            </div>
        </div>

        <!-- Stats Cards -->
		<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
            if len(workspaces) == 0 {
                @components.NoData("No workspaces found", "Create a workspace to get started", nil) {
                    @ui.Button("create-workspace", "outline", "xs", "circle-plus", "Create Workspace", "", templ.Attributes{
                        "type": "button",
                        "@click":"$store.modal.open('create-workspace-modal')",
                    })
                }
            }
            for _, workspace := range workspaces {
                <div
                    hx-post={"/workspaces?id="+workspace.ID}
                    hx-target="#content"
                    hx-swap="innerHTML"
                    hx-push-url="true"
                    hx-indicator=".htmx-loader,.loaded-content" 
                    class="rounded-lg border border-border bg-card text-card-foreground shadow-sm p-4 transition-all duration-300 hover:shadow-md hover:-translate-y-1 cursor-pointer"
                >
                    <div class="flex items-center justify-between space-y-0 pb-2">
                        <div class="flex gap-2">
                            <div class="p-1">
                                <div class={"w-7 h-7 p-2 rounded-md text-white flex items-center justify-center text-xs font-semibold " , workspace.Color}>
                                    {strings.ToUpper(workspace.Name[0:1])}
                                </div>
                            </div>
                            <div>
                                <div>
                                    <h3 class="tracking-tight font-semibold">{workspace.Name}</h3>
                                    <div class="text-xs text-muted-foreground">Created at {workspace.CreatedAt.Format("Mon, 02 Jan 2006")}</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-row justify-between items-center">
                            <svg data-lucide="users" class="w-4 h-4 mr-1 text-muted-foreground" /> 
                            <span class="text-xs text-muted-foreground">{strconv.Itoa(len(workspace.Members))}</span>
                        </div>
                    </div>
                    <div class="min-h-[50px] p-1">
                        // <div class="text-2xl font-bold">+2350</div>
                        <p class="text-md">{workspace.Description}</p>
                    </div>
                    <div class="pt-4 pb-4">
                        @components.DottedSeparator("", "#d4d4d8", "1px", "", "", "horizontal")
                    </div>
                    <div class="text-sm text-muted-foreground">view workspace details and projects</div>
                </div>
            }
        </div>
    </div>
}

templ WorkspaceSwitcher(options []ui.SelectOption) {
    <div 
		x-data={fmt.Sprintf("workspaceSwitcher(%s)", string(utils.MustJSON(options[0])))}
		class="relative w-full"
	>
		<input type="hidden" name="workspaceId" x-model="selected.value">

		<!-- Trigger -->
		<button 
			@click="openSelect = !openSelect" 
			class="w-full flex justify-between items-center px-3 py-2 
				   border rounded-md 
				   bg-background text-foreground border-border 
				   hover:bg-accent hover:text-accent-foreground
				   focus:outline-none transition-colors"
		>
			<div class="flex items-center space-x-2">
				<div x-show="selected.value && selected.value !== ' ' "
                    :class="`w-6 h-6 rounded-md text-white flex items-center justify-center text-xs font-semibold ${selected.color}`">
                    <span x-text="selected.label && selected.label !== ' ' ? selected.label.slice(0,1).toUpperCase() : ''"></span>
                </div>
				<div x-show="!selected.value || selected.value === ' ' " class="w-4 h-4 ml-0" data-lucide="list-checks"></div>
				<span x-text="selected.label && selected.label !== ' ' ?  selected.label : 'Select Workspace'"></span>
			</div>
			<svg class="w-4 h-4 text-muted-foreground" xmlns="http://www.w3.org/2000/svg" fill="none" 
				viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
			</svg>
		</button>

		<!-- Dropdown -->
		<div x-show="openSelect" @click.away="openSelect = false"
			class="absolute z-10 mt-1 w-full rounded-md border shadow-lg 
				   bg-popover border-border text-popover-foreground">
			<div class="px-3 pt-2 pb-1 text-sm text-muted-foreground">Workspace</div>
			<ul class="max-h-60 overflow-auto rounded-md border border-border scrollbar-thin">
				for _, item := range options {
                    if item.Value != " " {
                        <li 
                            class="flex items-center space-x-2 px-3 py-2 cursor-pointer 
                                hover:bg-accent hover:text-accent-foreground"
                            @click={fmt.Sprintf("selectWorkspace({ value: '%s', label: '%s', color: '%s' })", item.Value, item.Label, item.Color)}
                        >
                            <div class={"w-6 h-6 rounded-md text-white flex items-center justify-center text-xs font-semibold " , item.Color}>
                                {strings.ToUpper(item.Label[0:1])}
                            </div>
                            <span>{item.Label}</span>
                        </li>
                    }
				}
			</ul>
            @ui.Separator("horizontal", "", nil)
            <div 
                @click="$store.modal.open('create-workspace-modal')" 
                class="flex items-center space-x-2 px-3 py-2 cursor-pointer hover:bg-accent hover:text-accent-foreground">
                <div data-lucide="circle-plus" class="w-4 h-4"></div>
                <span>Create Workspace</span>
            </div>
		</div>
	</div>
}

templ CreateWorkspace(class string, attrs templ.Attributes) {
    @components.ResponsiveModal("create-workspace-modal", "Create Workspace", class) {
        <div id="create-workspace-form" x-data="{
                        init() {
                            document.body.addEventListener('modal:opened', (evt) => {
                                if (evt.detail.id === 'create-workspace-modal') {
                                    htmx.ajax('GET', '/create-workspace-form', {target: '#create-workspace-form', swap: 'innerHtml'})
                                }
                            });
                            document.body.addEventListener('modal:closed', (evt) => {
                                if (evt.detail.id === 'create-workspace-modal') {
                                    document.getElementById('create-workspace-form').innerHTML = '';
                                }
                            });
                        }
                    }"
        >
            
        </div>
    }
}

templ CreateWorkspaceForm() {
    <div
        x-data="{
                    tags: [],
                    name: '',
                    description: '',
                    color: '',
                    selectedColor: '',
                    members: [],
                    nameError: '',
                    descriptionError : '',
                    colorError: '',
                    validateName() {
                        this.nameError = (this.name.trim() === '')
                            ? 'Name is required'
                            : '';
                        this.name = this.name.charAt(0).toUpperCase() + this.name.slice(1);
                    },
                    validateColor() {
                        this.colorError = (this.color.trim() === '')
                            ? 'Color is required'
                            : '';
                    },
                    validateForm(e) {
                        e.preventDefault();
                        this.validateName();
                        //this.validateColor();
                        
                        if (this.nameError || this.validateColor()) {
                            return; 
                        }
                    },
                    resetForm() {
                        this.tags = [];
                        this.name = '';
                        this.description = '';
                        this.color = '';
                        this.selectedColor = '';
                        this.members = [];
                        this.nameError = '';
                        this.descriptionError = '';
                        this.colorError = '';
                    },
                    init() {
                        document.body.addEventListener('htmx:afterRequest', (evt) => {
                            if (evt.detail.successful && evt.detail.elt.id === 'create-workspace-form') {
                                $store.modal.close('create-workspace-modal');
                                this.resetForm();
                                htmx.ajax('GET', '/workspace-switcher', {target: '#workspace-switcher', swap: 'innerHtml'})
                                if (window.location.pathname === '/workspaces') {
                                    htmx.ajax('POST', '/workspaces', { 
                                        target: '#content', 
                                        swap: 'innerHTML' 
                                    })
                                }
                            }
                        });

                        document.body.addEventListener('modal:closed', (evt) => {
                            if (evt.detail.id === 'create-workspace-modal') {
                                this.resetForm();
                            }
                        });
                    }
                }"
    >
        @ui.Form("/workspace", "post", "", templ.Attributes{
                "id":"create-workspace-form",
                "hx-target": "#toaster",
                "hx-swap": "innerHtml",
                "hx-disabled-elt":"#create-button,#name,#description,#colorOption",
                "x-ref": "form",
                "@submit.prevent":"validateForm($event)",
        }) {
            @ui.FormItem("", nil) {
                @ui.FormLabel("name", "Name", "", nil)
                @ui.FormControl("name", "name", "text", "Workspace Name", "", "", templ.Attributes{
                    "autocomplete":"name",
                    "x-model": "name",
                    "@blur": "validateName",
                })
                @ui.FormMessage("", "", templ.Attributes{
                        "x-show": "nameError != ''",
                        "x-text": "nameError",
                    },
                )
            }
            @ui.FormItem("", nil) {
                @ui.FormLabel("description", "Description", "", nil)
                @ui.FormControl("description", "description", "textarea", "Workspace Description", "", "", templ.Attributes{
                    "autocomplete":"description",
                    "x-model": "description",
                    "@blur": "description=description.charAt(0).toUpperCase() + description.slice(1)",
                })
                @ui.FormMessage("", "", templ.Attributes{
                        "x-show": "descriptionError != ''",
                        "x-text": "descriptionError",
                    },
                )
            }
            @ui.FormItem("", nil) {
                @ui.FormLabel("", "Color", "", nil)
                <div id="colorOption"
                    class="flex items-center space-x-3 mt-2"
                >
                    <template x-for="color in colorOptions" :key="color.name">
                        <button 
                            type="button"
                            class="h-6 w-6 rounded-full transition ring-2 ring-offset-2 ring-offset-white dark:ring-offset-neutral-900"
                            :class="[
                                color.class, 
                                selectedColor === color.class ? 'ring-primary dark:ring-white scale-110' : 'ring-transparent'
                            ]"
                            @click="selectedColor = color.class;"
                            :title="color.class"
                        ></button>
                    </template>

                    <!-- Hidden input buat form -->
                    <input type="hidden" id="color" name="color" x-model="color" :value="selectedColor">
                    @ui.FormMessage("", "", templ.Attributes{
                            "x-show": "selectedColor === ''",
                            "x-text": "colorError",
                        },
                    )
                </div>
            }
            @ui.FormItem("", nil) {
                @ui.FormLabel("members", "Members", "", nil)
                @components.MemberInput("members",
                    "members",
                    "Type a member...",
                    []models.User{},  
                    services.GetAllUser(),
                    "",
                    nil,
                )
                @ui.FormMessage("", "", templ.Attributes{},
                )
            }
            @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
            <div class="flex justify-end items-end">
                @ui.Button("create-button", "", "", "", "Create", "", templ.Attributes{"type": "submit"}) 
            </div>
        }
    </div>
}

templ EditWorkspace(workspaceID string, class string, attrs templ.Attributes) {
    @components.ResponsiveModal("edit-workspace-modal", "Edit Workspace", class) {
        <div id="edit-workspace-form" 
            x-init={fmt.Sprintf("workspace_id='%s'", workspaceID)}
            x-data="{
                        workspace_id:'',
                        init() {
                            document.body.addEventListener('modal:opened', (evt) => {
                                if (evt.detail.id === 'edit-workspace-modal') {
                                    htmx.ajax('GET', '/edit-workspace-form?workspace_id='+this.workspace_id, {target: '#edit-workspace-form', swap: 'innerHtml'})
                                }
                            });
                            document.body.addEventListener('modal:closed', (evt) => {
                                if (evt.detail.id === 'edit-workspace-modal') {
                                    document.getElementById('edit-workspace-form').innerHTML = '';
                                }
                            });
                        }
                    }"
        >
            
        </div>
    }
}

templ EditWorkspaceForm(workspace models.Workspace) {
    <div
        x-data="{
                    workspace: {},
                    tags: [],
                    selectedColor: '',
                    nameError: '',
                    descriptionError : '',
                    colorError: '',
                    validateName() {
                        this.nameError = (this.workspace.name.trim() === '')
                            ? 'Name is required'
                            : '';
                        this.workspace.name = this.workspace.name.charAt(0).toUpperCase() + this.workspace.name.slice(1);
                    },
                    validateColor() {
                        this.colorError = (this.workspace.color.trim() === '')
                            ? 'Color is required'
                            : '';
                    },
                    validateForm(e) {
                        e.preventDefault();
                        this.validateName();
                        //this.validateColor();
                        
                        if (this.nameError || this.validateColor()) {
                            return; 
                        }
                    },
                    resetForm() {
                        this.workspace = {};
                        this.nameError = '';
                        this.descriptionError = '';
                        this.colorError = '';
                    },
                    init() {
                        document.body.addEventListener('htmx:afterRequest', (evt) => {
                            if (evt.detail.successful && evt.detail.elt.id === 'edit-workspace-form') {
                                $store.modal.close('edit-workspace-modal');
                                htmx.ajax('GET', '/workspace-switcher', {target: '#workspace-switcher', swap: 'innerHtml'})
                                const params = new URLSearchParams(window.location.search);
                                if ('/workspaces?id='+params.get('id') === '/workspaces?id='+this.workspace.id.trim()) {
                                    htmx.ajax('POST', '/workspaces?id='+this.workspace.id, { 
                                        target: '#content', 
                                        swap: 'innerHTML' 
                                    })
                                }
                            }
                        });
                    }
                }"
        x-init={fmt.Sprintf("workspace=%s;selectedColor='%s'", string(utils.MustJSON(workspace)), workspace.Color)}
    >
        @ui.Form("/workspace", "put", "", templ.Attributes{
                "id":"edit-workspace-form",
                "hx-target": "#toaster",
                "hx-swap": "innerHtml",
                "hx-disabled-elt":"#edit-button,#name,#description,#colorOption",
                "x-ref": "form",
                "@submit.prevent":"validateForm($event)",
        }) {
            <input id="workspace_id" type="hidden" name="workspace_id" x-model="workspace.id" />
            @ui.FormItem("", nil) {
                @ui.FormLabel("name", "Name", "", nil)
                @ui.FormControl("name", "name", "text", "Workspace Name", workspace.Name, "", templ.Attributes{
                    "autocomplete":"name",
                    "x-model": "workspace.name",
                    "@blur": "validateName",
                })
                @ui.FormMessage("", "", templ.Attributes{
                        "x-show": "nameError != ''",
                        "x-text": "nameError",
                    },
                )
            }
            @ui.FormItem("", nil) {
                @ui.FormLabel("description", "Description", "", nil)
                @ui.FormControl("description", "description", "textarea", "Workspace Description", workspace.Description, "", templ.Attributes{
                    "autocomplete":"description",
                    "x-model": "workspace.description",
                    "@blur": "workspace.description=workspace.description.charAt(0).toUpperCase() + workspace.description.slice(1)",
                })
                @ui.FormMessage("", "", templ.Attributes{
                        "x-show": "descriptionError != ''",
                        "x-text": "descriptionError",
                    },
                )
            }
            @ui.FormItem("", nil) {
                @ui.FormLabel("", "Color", "", nil)
                <div id="colorOption"
                    class="flex items-center space-x-3 mt-2"
                >
                    <template x-for="color in colorOptions" :key="color.name">
                        <button 
                            type="button"
                            class="h-6 w-6 rounded-full transition ring-2 ring-offset-2 ring-offset-white dark:ring-offset-neutral-900"
                            :class="[
                                color.class, 
                                selectedColor === color.class ? 'ring-primary dark:ring-white scale-110' : 'ring-transparent'
                            ]"
                            @click="selectedColor = color.class;"
                            :title="color.class"
                        ></button>
                    </template>

                    <!-- Hidden input buat form -->
                    <input type="hidden" id="color" name="color" x-model="workspace.color" :value="selectedColor">
                    @ui.FormMessage("", "", templ.Attributes{
                            "x-show": "selectedColor === ''",
                            "x-text": "colorError",
                        },
                    )
                </div>
            }
            @ui.FormItem("", nil) {
                @ui.FormLabel("members", "Members", "", nil)
                <div class="flex px-2">
                    for _,member := range workspace.Members {
                        @ui.Tooltip(strings.Split(member.User.FullName," ")[0]+" ("+strings.Trim(member.Role, " ")+")", "min-w-[120px] w-[180px]", nil) {
                            @ui.Avatar(member.User.FullName, member.User.Color, "sm", "h-6 w-6 border-2 border-background overflow-hidden cursor-pointer -space-x-2 -ml-2", nil) 
                        }
                    }
                </div>
            }
            @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
            <div class="flex justify-end items-end">
                @ui.Button("edit-button", "", "", "", "Save", "", templ.Attributes{"type": "submit"}) 
            </div>
        }
    </div>
}

templ InviteWorkspace(workspaceID string, class string, attrs templ.Attributes) {
    @components.ResponsiveModal("invite-workspace-modal", "Invite Workspace", class) {
        <div id="invite-workspace-form" 
            x-init={fmt.Sprintf("workspace_id='%s'", workspaceID)}
            x-data="{
                        workspace_id:'',
                        init() {
                            document.body.addEventListener('modal:opened', (evt) => {
                                if (evt.detail.id === 'invite-workspace-modal') {
                                    htmx.ajax('GET', '/invite-workspace-form?workspace_id='+this.workspace_id, {target: '#invite-workspace-form', swap: 'innerHtml'})
                                }
                            });
                            document.body.addEventListener('modal:closed', (evt) => {
                                if (evt.detail.id === 'invite-workspace-modal') {
                                    document.getElementById('invite-workspace-form').innerHTML = '';
                                }
                            });
                        }
                    }"
        >
            
        </div>
    }
}

templ InviteWorkspaceForm(workspace models.Workspace, users []models.User, invitedUsers []models.InviteWorkspaceMember) {
    <div
        x-data="{
                    workspace: {},
                    init() {
                        document.body.addEventListener('htmx:afterRequest', (evt) => {
                            if (evt.detail.successful && evt.detail.elt.id === 'invite-workspace-form') {
                                $store.modal.close('invite-workspace-modal');
                            }
                        });
                    }
                }"
        x-init={fmt.Sprintf("workspace=%s;", string(utils.MustJSON(workspace)))}
    >
        <div class="flex items-center justify-start space-y-0">
            <div class="p-1 mr-2">
                <div class={"w-6 h-6 p-2 rounded-md text-white flex items-center justify-center text-sm font-semibold " , workspace.Color}>
                    {strings.ToUpper(workspace.Name[0:1])}
                </div>
            </div>
            <h2 class="text-lg font-semibold tracking-tight">{workspace.Name}</h2>
        </div>
        @ui.Form("/invite-workspace", "post", "", templ.Attributes{
                "id":"invite-workspace-form",
                "hx-target": "#toaster",
                "hx-swap": "innerHtml",
                "hx-disabled-elt":"#invite-button,#name,#description,#colorOption",
                "x-ref": "form",
                "@submit.prevent":"validateForm($event)",
        }) {
            <input id="workspace_id" type="hidden" name="workspace_id" x-model="workspace.id" />            
            @ui.FormItem("", nil) {
                @ui.FormLabel("members", "Members", "", nil)
                <div class="flex px-2">
                    for _,member := range workspace.Members {
                        @ui.Tooltip(strings.Split(member.User.FullName," ")[0]+" ("+strings.Trim(member.Role, " ")+")", "min-w-[120px] w-[180px]", nil) {
                            @ui.Avatar(member.User.FullName, member.User.Color, "sm", "h-6 w-6 border-2 border-background overflow-hidden cursor-pointer -space-x-2 -ml-2", nil) 
                        }
                    }
                </div>
            }
            @ui.FormItem("", nil) {
                @ui.FormLabel("invited_members", "Invited Members (not join yet)", "", nil)
                <div class="flex px-2">
                    for _,member := range invitedUsers {
                        @ui.Tooltip(strings.Split(member.User.FullName," ")[0]+" ("+strings.Trim(member.Status, " ")+")", "min-w-[120px] w-[180px]", nil) {
                            @ui.Avatar(member.User.FullName, member.User.Color, "sm", "h-6 w-6 border-2 border-background overflow-hidden cursor-pointer -space-x-2 -ml-2", nil) 
                        }
                    }
                </div>
            }
            @ui.FormItem("", nil) {
                @ui.FormLabel("invite_members", "Invite", "", nil)
                @components.MemberInput("invite_members",
                    "invite_members",
                    "Type a name...",
                    []models.User{},  
                    users,
                    "",
                    nil,
                )
                @ui.FormMessage("", "", templ.Attributes{},
                )
            }
            @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
            <div class="flex justify-end items-end">
                @ui.Button("invite-button", "", "", "", "Invite", "", templ.Attributes{"type": "submit"}) 
            </div>
        }
    </div>
}