package features

import (
    "etop/templates/components"
    "etop/templates/components/ui"
    "etop/utils"

    "fmt"
    "strings"
)

templ WorkspaceSwitcher(options []ui.SelectOption) {
    <div 
		x-data={fmt.Sprintf("workspaceSwitcher(%s)", string(utils.MustJSON(options[0])))}
		class="relative w-full"
	>
		<input type="hidden" name="workspaceId" x-model="selected.value">

		<!-- Trigger -->
		<button 
			@click="openSelect = !openSelect" 
			class="w-full flex justify-between items-center px-3 py-2 
				   border rounded-md 
				   bg-background text-foreground border-border 
				   hover:bg-accent hover:text-accent-foreground
				   focus:outline-none transition-colors"
		>
			<div class="flex items-center space-x-2">
				<div x-show="selected.value && selected.value !== ' ' "
                    :class="`w-6 h-6 rounded-md text-white flex items-center justify-center text-xs font-semibold ${selected.color}`">
                    <span x-text="selected.label && selected.label !== ' ' ? selected.label.slice(0,1).toUpperCase() : ''"></span>
                </div>
				<div x-show="!selected.value || selected.value === ' ' " class="w-4 h-4 ml-0" data-lucide="list-checks"></div>
				<span x-text="selected.label && selected.label !== ' ' ?  selected.label : 'Select Workspace'"></span>
			</div>
			<svg class="w-4 h-4 text-muted-foreground" xmlns="http://www.w3.org/2000/svg" fill="none" 
				viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
			</svg>
		</button>

		<!-- Dropdown -->
		<div x-show="openSelect" @click.away="openSelect = false"
			class="absolute z-10 mt-1 w-full rounded-md border shadow-lg 
				   bg-popover border-border text-popover-foreground">
			<div class="px-3 pt-2 pb-1 text-sm text-muted-foreground">Workspace</div>
			<ul class="max-h-60 overflow-auto">
				for _, item := range options {
                    if item.Value != " " {
                        <li 
                            class="flex items-center space-x-2 px-3 py-2 cursor-pointer 
                                hover:bg-accent hover:text-accent-foreground"
                            @click={fmt.Sprintf("selectWorkspace({ value: '%s', label: '%s', color: '%s' })", item.Value, item.Label, item.Color)}
                        >
                            <div class={"w-6 h-6 rounded-md text-white flex items-center justify-center text-xs font-semibold " , item.Color}>
                                {strings.ToUpper(item.Label[0:1])}
                            </div>
                            <span>{item.Label}</span>
                        </li>
                    }
				}
				@ui.Separator("horizontal", "", nil)
				<li 
					@click="$store.modal.open('create-workspace-modal')" 
					class="flex items-center space-x-2 px-3 py-2 cursor-pointer hover:bg-accent hover:text-accent-foreground">
					<div data-lucide="circle-plus"></div>
					<span>Create Workspace</span>
				</li>
			</ul>
		</div>
	</div>
}

templ CreateWorkspace(class string, attrs templ.Attributes) {
    @components.ResponsiveModal("create-workspace-modal", "Create Workspace", class) {
        <div
            x-data="{
                        name: '',
                        description: '',
                        color: '',
                        nameError: '',
                        descriptionError : '',
                        colorError: '',
                        validateName() {
                            this.nameError = (this.name.trim() === '')
                                ? 'Name is required'
                                : '';
                        },
                        validateColor() {
                            this.colorError = (this.color.trim() === '')
                                ? 'Color is required'
                                : '';
                        },
                        validateForm(e) {
                            e.preventDefault();
                            this.validateName();
                            //this.validateColor();
                            
                            if (this.nameError || this.validateColor()) {
                                return; 
                            }
                        },
                        init() {
                            document.body.addEventListener('htmx:afterRequest', (evt) => {
                                if (evt.detail.successful && evt.detail.elt.id === 'create-workspace-form') {
                                    $store.modal.close('create-workspace-modal');
                                    this.name = '';
                                    this.description = '';
                                    this.color = '';
                                    htmx.ajax('GET', '/workspace-switcher', {target: '#workspace-switcher', swap: 'innerHtml'})
                                }
                            })
                        }
                    }"
        >
            @ui.Form("/workspace", "post", "", templ.Attributes{
                    "id":"create-workspace-form",
                    "hx-target": "#toaster",
                    "hx-swap": "innerHtml",
                    "hx-disabled-elt":"#create-button,#name,#description,#colorOption",
                    "x-ref": "form",
                    "@submit.prevent":"validateForm($event)",
            }) {
                @ui.FormItem("", nil) {
                    @ui.FormLabel("name", "Name", "", nil)
                    @ui.FormControl("name", "name", "text", "Workspace Name", "", "", templ.Attributes{
                        "id": "name",
                        "name": "name",
                        "autocomplete":"name",
                        "x-model": "name",
                        "@blur": "validateName",
                    })
                    @ui.FormMessage("", "", templ.Attributes{
                            "x-show": "nameError != ''",
                            "x-text": "nameError",
                        },
                    )
                }
                @ui.FormItem("", nil) {
                    @ui.FormLabel("description", "Description", "", nil)
                    @ui.FormControl("description", "description", "textarea", "Workspace Description", "asd", "", templ.Attributes{
                        "id": "description",
                        "name": "description",
                        "autocomplete":"description",
                        "x-model": "description",
                    })
                    @ui.FormMessage("", "", templ.Attributes{
                            "x-show": "descriptionError != ''",
                            "x-text": "descriptionError",
                        },
                    )
                }
                @ui.FormItem("", nil) {
                    @ui.FormLabel("", "Color", "", nil)
                    <div id="colorOption"
                        x-data="{ 
                            selectedColor: '' 
                        }"
                        class="flex items-center space-x-3 mt-2"
                    >
                        <template x-for="color in colorOptions" :key="color.name">
                            <button 
                                type="button"
                                class="h-6 w-6 rounded-full transition ring-2 ring-offset-2 ring-offset-white dark:ring-offset-neutral-900"
                                :class="[
                                    color.class, 
                                    selectedColor === color.class ? 'ring-primary dark:ring-white scale-110' : 'ring-transparent'
                                ]"
                                @click="selectedColor = color.class;"
                                :title="color.class"
                            ></button>
                        </template>

                        <!-- Hidden input buat form -->
                        <input type="hidden" id="color" name="color" x-model="color" :value="selectedColor">
                        @ui.FormMessage("", "", templ.Attributes{
                                "x-show": "selectedColor === ''",
                                "x-text": "colorError",
                            },
                        )
                    </div>
                    <div class="pt-4 pb-4">
                        @components.DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
                    </div>
                    <div class="flex justify-end items-end">
                        @ui.Button("create-button", "", "", "", "Create", "", templ.Attributes{"type": "submit"}) 
                    </div>
                }
            }
        </div>
    }
}