@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;       /* #0f172a (slate-900) */
    --foreground: 210 40% 98%;             /* text-slate-100 */

    --card: 222.2 47.4% 15%;               /* #1e293b (slate-800) */
    --card-foreground: 210 40% 98%;

    --popover: 222.2 47.4% 15%;
    --popover-foreground: 210 40% 98%;

    --primary: 221.2 83.2% 53.3%;          /* biru vivid */
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;        /* slate-700 */
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 215 28% 17%;                 /* slate-700-ish (abu gelap) */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 20%;             /* slate-700 */
    --input: 217.2 32.6% 20%;
    --ring: 221.2 83.2% 53.3%;             /* biru (selaras primary) */
  }
}

.galaxy-text {
    background: url('/public/img/satelite.jpg');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}
