package components

import (
    "etop/utils"
    "etop/templates/components/ui"
)

// UserButton — dropdown user menu with avatar + logout
templ AvatarButton(name, email string) {
	@ui.Dropdown("avatarButton", "", nil) {
		@ui.DropdownTrigger("", templ.Attributes{
		}) {
            <div class="flex items-center">
                <div class={"w-8 h-8 rounded-full flex items-center justify-center", utils.TailwindForUsername(email)}>
                    <span class="text-sm font-medium text-primary-foreground">{ string([]rune(name)[0]) }</span>
                </div>
            </div>
		}

		/* Panel dropdown */
		@ui.DropdownContent("w-60", nil) {
			<!-- header user info -->
			<div class="flex flex-col items-start justify-start gap-2 p-4">
				<div class="flex flex-col items-start justify-start">
					<p class="text-md font-semibold">
						{ name } 
					</p>
					<p class="text-sm text-neutral-500">
						{ email } 
					</p>
				</div>
			</div>

			@ui.DropdownSeparator("", nil)
			@ui.DropdownItem(false, false, "h-10 flex items-start justify-start text-sm cursor-pointer hover:bg-accent" , templ.Attributes{
				"hx-post": "/profile",
				"hx-target": "#content",
				"hx-swap": "innerHtml",
			}) {
				<i data-lucide="user" class="w-4 h-4"></i>
				Profile
			}
			@ui.DropdownItem(false, false, "h-10 flex items-start justify-start text-sm cursor-pointer hover:bg-accent" , templ.Attributes{
				"hx-post": "/settings",
				"hx-target": "#content",
				"hx-swap": "innerHtml",
			}) {
				<i data-lucide="settings" class="w-4 h-4"></i>
				Settings
			}
			@ui.DropdownSeparator("", nil)

			<!-- Logout -->
			@ui.DropdownItem(false, false, "h-10 flex items-start justify-start text-amber-700 text-sm cursor-pointer dark:hover:bg-gray-400 hover:bg-red-100", templ.Attributes{
				"hx-post": "/logout",
				"hx-target": "body",
				"hx-swap": "none",
			}) {
				<i data-lucide="log-out" class="w-4 h-4"></i>
				Log out
			}
		}
	}
}
