package components

import (
    "etop/templates/components/ui"
)

func getColorStatus(status int) string {
    color := "text-green-600 dark:text-gray-100"
    if status>200 {
        color = "text-red-500 dark:text-gray-500"
    } 
    return color
}

templ CardStatus(status int, title string, description string, icon string, content ...templ.Component) {
    @ui.CardHeader("items-center justify-center", nil) {
        if icon != "" {
            <div class={"w-16 h-16 mb-4 ", getColorStatus(status)} data-lucide={icon} />
        }
        @ui.CardTitle("text-center", nil) {
            <h4>{title}</h4>
        }
        @ui.CardDescription("text-center", nil) {
            {description}
        }
    }
    @ui.CardContent("flex items-center justify-center mb-2", nil) {
        for _, c := range content {
            @c
        }
    }
}