package components

import (
    "etop/templates/components/ui"
    "fmt"
)

func getColorStatus(status int) string {
    color := "green"
    if status>200 {
        color = "red"
    } 
    return color
}

templ CardStatus(status int, title string, description string, icon string, content ...templ.Component) {
    @ui.CardHeader("items-center justify-center", nil) {
        if icon != "" {
            <div class="w-16 h-16 mb-4" style={fmt.Sprintf("color:%s",getColorStatus(status))} data-lucide={icon} />
        }
        @ui.CardTitle("text-center", nil) {
            <h4>{title}</h4>
        }
        @ui.CardDescription("text-center", nil) {
            {description}
        }
    }
    @ui.CardContent("flex items-center justify-center mb-2", nil) {
        for _, c := range content {
            @c
        }
    }
}