package components

import (
	"fmt"
	
	"etop/templates/components/ui"
)

templ ResponsiveModal(id string, title string, class string) {
	<div 
		x-show={fmt.Sprintf("$store.modal.isOpen('%s')" ,id)}
		x-cloak 
		class="fixed inset-0 bg-black/50 z-40"
		@click="$store.modal.close()">
	</div>

	<!-- Desktop Modal (add class: shadow-lg "" --> 
	<div 
		x-show={fmt.Sprintf("$store.modal.isOpen('%s')",id)}
		@click.away="$store.modal.close()"
		x-cloak 
		class={"fixed left-[50%] top-[50%] z-50 w-full max-w-lg translate-x-[-50%] translate-y-[-50%] bg-background duration-200 data-[state=openDialog]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=openDialog]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=openDialog]:zoom-in-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=openDialog]:slide-in-from-left-1/2 data-[state=openDialog]:slide-in-from-top-[48%] sm:rounded-lg ", class}
		>
			@ui.Card("", nil) {
				@ui.CardHeader("", nil) {
					@ui.DialogTitle("relative flex w-full justify-between", nil) {
						<span>{title}</span>
						<div @click="$store.modal.close()">
							<svg data-lucide="x" class="cursor-pointer w-4 h-4" />
						</div>
					}
				}
				<div class="mx-2">
                	@DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
				</div>
				@ui.CardContent("", nil) {
					{children...}
				}
			}
			// <h2 class="text-lg font-semibold mb-4">{title}</h2>
			// @ui.Separator("horizontal", "", nil)
	</div>
}
