package components

import (
	"fmt"
	
	"etop/templates/components/ui"
)

templ ResponsiveModal(id string, title string, class string) {
	<div 
		x-show={fmt.Sprintf("$store.modal.isOpen('%s')" ,id)}
		x-cloak 
		class="fixed inset-0 bg-black/50 z-40"
		@click={fmt.Sprintf("$store.modal.close('%s')",id)}>
	</div>

	<!-- Wrapper dengan scroll @keydown.escape={fmt.Sprintf("$store.modal.close('%s')",id)} --> 
	<div 
		x-show={fmt.Sprintf("$store.modal.isOpen('%s')",id)}
		x-cloak
		class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto w-full"
	>
		<!-- Modal (add class: shadow-lg "" --> 
		<div 
			x-show={fmt.Sprintf("$store.modal.isOpen('%s')",id)}
			@click.away={fmt.Sprintf("$store.modal.close('%s')",id)}
			x-cloak 
			class={"relative bg-background sm:rounded-lg shadow-lg my-8 data-[state=openDialog]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=openDialog]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=openDialog]:zoom-in-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=openDialog]:slide-in-from-left-1/2 data-[state=openDialog]:slide-in-from-top-[48%] sm:rounded-lg", class}
			>
				@ui.Card("max-h-[80vh] overflow-y-auto scrollbar-thin", nil) {
					@ui.CardHeader("", nil) {
						@ui.DialogTitle("relative flex w-full justify-between", nil) {
							<span>{title}</span>
							<div @click={fmt.Sprintf("$store.modal.close('%s')",id)}>
								<svg data-lucide="x" class="cursor-pointer w-4 h-4" />
							</div>
						}
					}
					<div class="mx-2">
						@DottedSeparator("", "#d4d4d8", "2px", "", "", "horizontal")
					</div>
					@ui.CardContent("", nil) {
						{children...}
					}
				}
				// <h2 class="text-lg font-semibold mb-4">{title}</h2>
				// @ui.Separator("horizontal", "", nil)
		</div>
	</div>
}
